extends ../layouts/default

block append js
    script(src="/js/jquery/jquery.doubleScroll.js")
    script(src="/js/general.js")
    script(src="/js/auctions.js")
    	
block append variables
    - var currentPage = "forge";

block meta
    meta(name="description" content="It calculates the cheapest minions to level up to gain more minion slots, also tailor-made for each profile if you input your Minecraft name.")

mixin infoBox(id,type,title)
    if(type=="info")
        i.fas.fa-lg(data-toggle="modal" data-target="#"+id class="fa-info-circle")
    else if(type=="question")
        i.fas.fa-lg(data-toggle="modal" data-target="#"+id class="fa-question-circle")
    .modal.fade.infoBox(id=id tabindex="-1" role="dialog" aria-labelledby=id+"Label" aria-hidden="true")
        .modal-dialog(role="document" class=(type=="rightInfo"?"modal-xl":undefined))
            .modal-content
                .modal-header
                    h3.modal-title(id=id+"Label")=title
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    if block 
                        block 
                    else
                        p Nothing to see here
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close

block content
    .container
        h1.d-inline-block Active Auctions

        #content
            hr
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3541192882647315" crossorigin="anonymous"></script>
            //-<!-- auctions-1 -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3541192882647315" data-ad-slot="1247091385" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>

            if settings.news&&((!settings.news.postUntil)||settings.news.postUntil._seconds*1000>Date.now())
                div(class=settings.news.isDanger?"loss":"")
                    h3 Server Info
                    p=settings.news.message
            if Date.now() - settings.lastUpdatedAuctionServer > 1800*1000 
                //- 30 minutes
                p.loss The latest update time for auction prices is #{settings.lastUpdatedAuctionServerString} UTC. It means that the auction prices are outdated. This is very likely to be an error, you may make a bug report <a href="/contact">here</a>. Sorry for the inconvenience caused.
            if settings&&settings.hasError
                h1 Error
                p.lead=settings.errorMsg
                h3 Is Hypixel API down?
                p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
                p If so, you could still view the forge table without the real time prices with <a href="/forge?ah=-1&bz=-1">this set of settings</a>.
                p If you think it is not an API problem, you may make a bug report <a href="/contact">here</a>. Sorry for the inconvenience caused.
            else if !auctions || !settings
                h1 Error
                p.lead An unexpected error has occured.
                h3 Is Hypixel API down?
                p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
                p If so, you could still view the forge table without the real time prices with <a href="/forge?ah=-1&bz=-1">this set of settings</a>.
                p If you think it is not an API problem, you may make a bug report <a href="/contact">here</a>. Sorry for the inconvenience caused.
            else
                h2
                    for name in settings.names
                        | #{name}
                if settings.exactMatch
                    p Exact Match
                else
                    p Approximate Match (e.g. allow reforges)
                p BIN only

                if settings.quantity
                    h3 Buy Info
                    p Quantity: #{settings.quantity}
                    p Overbuy tolerance: #{settings.overbuyToleranceText}
                    p Total cost: #{settings.componentCostText || 0}

                #doubleScroll: table#auctionsTable.table.table-dark.w-100
                    thead
                        tr
                            th(scope="col")
                            th(scope="col") 
                                | Item name
                                //- | <br />
                                //- button#unhideAllCols.btn.btn-link(onClick="unhideCol()").invisible Unhide all columns
                            th(scope="col").auctionsQuantity
                                | Quantity
                                //- i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeHotm')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").auctionsTotalPrice
                                | Total Price
                                //- i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeDuration')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").auctionsUnitPrice
                                | Unit Price
                                //- i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeProductPrice')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            if settings.descriptionCol
                                th(scope="col").auctionsDescription
                                    | Description (selected items only)
                                    //- i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeProductPrice')")
                                    //- | &nbsp;
                                    //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                    - let i = 0
                    for auction in auctions 
                        tr(id="auction"+i+"Row" class=(settings.buyIndices&&settings.buyIndices.includes(i))?"individualTableRow":"")
                            td="#"+(i+1)
                            td(id="auction"+i+"Name")
                                | #{auction.name}
                            td(id="auction"+i+"Quantity")
                                | #{auction.quantity}
                            td(id="auction"+i+"CurrentPrice")
                                | #{auction.currentPriceText}
                            td(id="auction"+i+"UnitPrice")
                                | #{auction.unitPriceText}
                            if settings.descriptionCol
                                td(id="auction"+i+"Description")
                                    if auction.description
                                        button.mt-2.btn.btn-blue(id="individualInfo"+i data-toggle="modal" data-target="#infoModal"+i) Description
                        - i++;
                #infoModals
                    - i = 0
                    for auction in auctions 
                        if auction.description
                            +infoBox("infoModal"+i,"rightInfo",auction.name)
                                pre.color-white=auction.description
                        - i++;
            p: small
                if(settings.lastUpdatedAuctionServerString)
                    | <br /> Last updated time of auction price: #{settings.lastUpdatedAuctionServerString} UTC
