extends ../layouts/default

block append js
    script(src="/js/jquery/jquery.doubleScroll.js")
    script(src="/js/general.js")
    script(src="/js/forge.js")
    	
block append variables
    - var currentPage = "forge";

block meta
    meta(name="description" content="It calculates the most profitable items to forge with realtime bazaar and auction prices.")

block content
    .container
        h1.d-inline-block Forge
        span &nbsp; &nbsp;
        img.d-inline-block.align-top(src="/images/forge.png" width="40" height="40")
        //-TODO
        p.d-inline-block &nbsp; &nbsp; &nbsp;
        +infoBox("minionsTitleModal","info","Minions Crafts Calculator")
            p It calculates the most profitable items to forge with realtime bazaar and auction prices.
            p: a(href="/info/forge" target="_blank") Check out more documentation
        p Most profitable forge options when you are offline.

        h3 Warning
        ul
            li Data may be inaccurate (<a href="/contact">Contact me</a> when you see a mistake)
            li
                | Think twice before making an investment. There is a possibility that you might suffer from a loss. 
                a(href="/info/forge#disclaimer" target="_blank"): i.pt-2.fas.fa-question-circle
            li This page is in beta, bugs may occur.

        #overall
            .row
                .col-lg-6.col-12(class=(settings.ah==-1&&settings.bz==-1)?"notLoaded":"")
                    #general
                        br
                        h3 General
                        .form-group
                            .form-group
                                input#overallUseProfile.checkbox(type="checkbox" onclick="toggleUseProfile()" checked=(settings.useProfile==true ? 'checked' : undefined))
                                label(for="overallUseProfile") &nbsp; Use Profile
                        .form-group#profileName
                            p Minecraft Name (Recommended): &nbsp; 
                                input#overallProfileName.form-control(value=settings.name oninput="setUseProfile()")
                                span &nbsp; &nbsp; 
                                +infoBox("profileModal","question","Why is my Minecraft name required?")
                                    p If you enter your Minecraft name, it will determine your HOTM and Gemstone Collection level, making it more personalized and useful. (Note that API settings has to be changed in game in order to obtain for the calculator to obtain Gemstone Collection level.)
                                    p Alternatively, you could uncheck this "Use Profile" box, and manually input your HOTM and Gemstone Collection level. 
                                    p: a(href="/info/forge#minecraftName" target="_blank") Check out more documentation
                            if(settings.profileNames)
                                label#overallProfileProfileLabel(for="overallProfileProfile") Profile: &nbsp;
                                select#overallProfileProfile.form-control
                                    -let k=0
                                    while k<settings.profileNames.length
                                        option(value=k selected=(settings.profile==k?'selected':undefined))=settings.profileNames[k]
                                        -k++;
                        .form-group.profileAlt
                            span HOTM Level: &nbsp;
                            select#overallHotmLevel.form-control(onchange="setNotProfile()")
                                -let j=0
                                while j<=7
                                    option(selected=(settings.hotmLevel==j ? 'selected':undefined))=j
                                    -j++;
                                //- 7: default
                                //- option(selected=(!settings.hotmLevel||settings.hotmLevel==7 ? 'selected':undefined) value="7") 7
                        .form-group.profileAlt
                            span Gemstone Collection Level: &nbsp;
                            select#overallGemstoneCollectionLevel.form-control(onchange="setNotProfile()")
                                -let l=0
                                while l<=11
                                    option(selected=(settings.gemstoneCollectionLevel==l ? 'selected':undefined))=l
                                    -l++;
                                //- 11: default
                                //- option(selected=(!settings.gemstoneCollectionLevel||settings.gemstoneCollectionLevel==10 ? 'selected':undefined) value="10") 10
                    #advanced(class=(settings.ah==-1&&settings.bz==-1)?"notLoaded":"")
                        br
                        h3 Advanced
                        //- .form-group
                        //-     label(for="overallAccuracy") Accuracy: &nbsp;
                        //-     select#overallAccuracy.form-control
                        //-         option(value="0" selected=(settings.accuracy==0?'selected':undefined)) No API
                        //-         option(value="1" selected=(settings.accuracy==1?'selected':undefined)) Medium
                        //-         option(value="2" selected=(settings.accuracy==2?'selected':undefined)) High
                        //-         option(value="3" selected=(settings.accuracy==3?'selected':undefined)) Very High                             
                        .form-group
                            label(for="overallTax") Tax in bazaar: &nbsp; 
                                input#overallTax.form-control(type="number" value=settings.tax min="0")
                                span &nbsp; % &nbsp;
                            a(href="/info/forge#tax" target="_blank"): i.pt-2.fas.fa-question-circle
                        p: small Tax in auction house (BIN) is 2% when selling items above 1M coins, 1% otherwise. The AH prices below are the current lowest BIN. The bazaar prices are based on buy instantly and sell instantly.
                        
                        .form-group
                            span Sort by: &nbsp;
                            select#overallSortBy.form-control
                                option(value="0" selected=(settings.sortBy==0 ? 'selected':undefined)) Profit per forge
                                option(value="1" selected=(settings.sortBy==1 ? 'selected':undefined)) Profit per hour
                                option(value="2" selected=(settings.sortBy==2 ? 'selected':undefined)) Product/ material cost ratio
                        br
                .col-lg-6.col-12
                    #miscellaneous 
                        div(class=(settings.ah==-1&&settings.bz==-1)?"notLoaded":"")
                            br
                            h3.d-inline-block Risk Management
                            span.d-inline-block &nbsp; &nbsp;
                            a.d-inline-block(href="/info/forge#riskManagement" target="_blank"): i.pt-2.fas.fa-question-circle
                            .form-group
                                span Protection: &nbsp;
                                select#overallRiskLevel.form-control(onchange="setRisk()")
                                    option(value="1" selected=(settings.riskLevel==1 ? 'selected':undefined)) High
                                    option(value="2" selected=(settings.riskLevel==2 ? 'selected':undefined)) Medium
                                    option(value="3" selected=(settings.riskLevel==3 ? 'selected':undefined)) Low
                                    option(value="4" selected=(settings.riskLevel==4 ? 'selected':undefined)) None
                                    option(value="0" selected=(settings.riskLevel==0 ? 'selected': undefined)) Custom
                                span &nbsp; &nbsp;
                                a(href="/info/forge#riskLevel" target="_blank"): i.pt-2.fas.fa-question-circle
                            .form-group
                                input#overallBudgetCheck.checkbox(type="checkbox" checked=(settings.budget!=0 ? 'checked' : undefined) onchange="setRiskCustom()")
                                label &nbsp; Budget: &nbsp; 
                                input#overallBudgetValue.form-control(type="number" value=(settings.budget == 0 ? 30 : settings.budget/1000000) min="0" oninput="setRiskCustom()")
                                span &nbsp; M &nbsp;
                                a(href="/info/forge#budget" target="_blank"): i.pt-2.fas.fa-question-circle
                            .form-group
                                input#overallNoOfAuctionsMinCheck.checkbox(type="checkbox" checked=(settings.noOfAuctionsMin!=0 ? 'checked' : undefined) onchange="setRiskCustom()")
                                label &nbsp; Minimum items in AH: &nbsp; 
                                input#overallNoOfAuctionsMinValue.form-control(type="number" value=(settings.noOfAuctionsMin == 0 ? 5 : settings.noOfAuctionsMin) min="1" oninput="setRiskCustom()")
                                span &nbsp; &nbsp;
                                a(href="/info/forge#noOfAuctionsMin" target="_blank"): i.pt-2.fas.fa-question-circle
                            .form-group
                                input#overallOverbuyToleranceCheck.checkbox(type="checkbox" checked=(settings.overbuyTolerance!=0 ? 'checked' : undefined) onchange="setRiskCustom()")
                                label &nbsp; Buy in bulk: &nbsp;
                                input#overallOverbuyToleranceValue.form-control(type="number" value=(settings.overbuyTolerance == 0 ? 2 : settings.overbuyTolerance) min="1" oninput="setRiskCustom()")
                                span &nbsp; x &nbsp;
                                a(href="/info/forge#overbuyTolerance" target="_blank"): i.pt-2.fas.fa-question-circle
                            p: small ^ Trying to profit from the forge is similar to an investment, there is a possibility of loss. Forges that do not satisfy the above criteria would be highlighted in yellow at related cells as a reminder hoping to reduce the potential loss, but they will not be moved to the bottom.
                            p: small It is also a good idea to check on current auctions, auction history <i class="fa fa-history"></i>  provided by <a href="https://sky.coflnet.com/">Coflnet</a>.
                        h3 Switches
                        .form-group
                            input#overallLoadAuctions.checkbox(type="checkbox" checked=(settings.ah!=-1 ? 'checked' : undefined))
                            //-both 0 and 1 will make it checked
                            label(for="overallLoadAuctions") &nbsp; Load Auctions
                        .form-group
                            input#overallLoadBazaar.checkbox(type="checkbox" checked=(settings.bz!=-1 ? 'checked' : undefined))
                            //-both 0 and 1 will make it checked
                            label(for="overallLoadBazaar") &nbsp; Load Bazaar
                        p: small ^ Should only be used when there is error. Might be useful to turn off load auctions when Derpy is the mayor. 
            button#overallSettings.btn(onclick="generateLink()") Apply and Load
            small &nbsp; &nbsp; < Click to load data
        //-     span &nbsp; &nbsp; &nbsp;
        //-     button.btn.btn-link.read-more(onclick="clearInput()") Clear
        //-     br
        //-     br

        #content
            hr
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3541192882647315" crossorigin="anonymous"></script>
            //- <!-- forge-1 -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3541192882647315" data-ad-slot="9361469877" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>

            if settings.news&&((!settings.news.postUntil)||settings.news.postUntil._seconds*1000>Date.now())
                div(class=settings.news.isDanger?"loss":"")
                    h3 Server Info
                    p=settings.news.message

            if settings.useProfile
                if settings.collectionsDisabled
                    p.loss Collection API access for this profile is disabled. Click <a href="https://www.youtube.com/watch?v=-_LIyA5lNMU">here</a> to see how to enable API access, so that we could put the minions that you cannot craft at the bottom of the list.
            br
            if Date.now() - settings.lastUpdatedAuctionServer > 1800*1000 
                //- 30 minutes
                p.loss The latest update time for auction prices is #{settings.lastUpdatedAuctionServerString} UTC. It means that the auction prices are outdated. This is very likely to be an error, you may make a bug report <a href="/contact">here</a>. Sorry for the inconvenience caused.
            if settings&&settings.hasError
                h1 Error
                p.lead=settings.errorMsg
                h3 Is Hypixel API down?
                p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
                p If so, you could still view the forge table without the real time prices with <a href="/forge?ah=-1&bz=-1">this set of settings</a>.
                p If you think it is not an API problem, you may make a bug report <a href="/contact">here</a>. Sorry for the inconvenience caused.
            else if !forges || !settings
                h1 Error
                p.lead An unexpected error has occured.
                h3 Is Hypixel API down?
                p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
                p If so, you could still view the forge table without the real time prices with <a href="/forge?ah=-1&bz=-1">this set of settings</a>.
                p If you think it is not an API problem, you may make a bug report <a href="/contact">here</a>. Sorry for the inconvenience caused.
            else
                #search: .form-group
                    label(for="searchInput") Search: &nbsp;
                    input#searchInput(list="searchDatalist").form-control
                    datalist#searchDatalist
                        each outputForge in outputForges
                            option(value=outputForge.name)
                    span &nbsp; &nbsp; &nbsp;
                    button#searchButton.btn(onclick="search()") Search
                #doubleScroll: table#forgeTable.table.table-dark.w-100(class=(settings.ah==0&&settings.bz==0)?"notLoaded":"")
                    thead
                        tr
                            th(scope="col")
                            th(scope="col") 
                                | Product <br /> 
                                if settings.sortBy==1
                                    | (Profit per hour)
                                else if settings.sortBy==2
                                    | (Product/ material cost ratio)
                                else
                                    | (Profit per forge) 
                                | <br />
                                button#unhideAllCols.btn.btn-link(onClick="unhideCol()").invisible Unhide all columns
                            th(scope="col").forgeHotm 
                                | Req. HOTM <br /> 
                                | Level <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeHotm')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").forgeDuration
                                | Duration <br /> 
                                | (Hours) <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeDuration')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").forgeProductPrice
                                | Price of product  <br />
                                | (with tax)  <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeProductPrice')")
                                | &nbsp;
                                a(href="/info/forge#forgeProductPrice" target="_blank"): i.pt-2.fas.fa-question-circle
                            th(scope="col").forgeNoOfAuctions
                                | No. of active  <br />
                                | auctions  <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeNoOfAuctions')")
                                | &nbsp;
                                a(href="/info/forge#forgeNoOfAuctions" target="_blank"): i.pt-2.fas.fa-question-circle
                            th(scope="col").forgeMaterialsName
                                | Materials <br /> 
                                | (Cheapest variant) <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeMaterialsName')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").forgeUnitCost
                                | Unit cost of material(s) <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeUnitCost')")
                                | &nbsp;
                                a(href="/info/forge#forgeUnitCost" target="_blank"): i.pt-2.fas.fa-question-circle
                            th(scope="col").forgeUnitCost
                            th(scope="col").forgeComponentCost
                                | Total cost of material(s) <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeComponentCost')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").forgeCost 
                                | Total cost <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeCost')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").forgeNetProfit 
                                | Profit per forge <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeNetProfit')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").forgeProfitPerHour 
                                | Profit per hour <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeProfitPerHour')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").forgeProfitRatio
                                | Product/ material cost ratio <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeProfitRatio')")
                    - let i = 0
                    for outputForge in outputForges 
                        tr(id="forge"+i+"Row" class=(outputForge.danger&&(settings.ah==1||settings.bz==1)?"loss":""))
                            td
                                if (settings.ah==1||settings.bz==1)
                                    | ##{i+1}
                                else
                                    | #?
                            td(id="forge"+i+"Name")
                                //- loss -> yellow label
                                | #{outputForge.name}
                                br
                                if (settings.ah==0&&settings.bz==0)
                                    button.btn.btn-link(onclick="generateLink(true)") Click to load
                                else
                                    span(class=(outputForge.profit<0?"warning":"")) (#{settings.sortBy==1 ? outputForge.profitPerHourText : outputForge.profitText})
                            td(id="forge"+i+"Hotm" class=(outputForge.requirementNotMet==true?"warning":"")).forgeHotm
                                //- when requirement not met
                                | #{outputForge.hotmRequirement}
                                if outputForge.gemstoneRequirement
                                    | <br />+ Gemstone #{outputForge.gemstoneRequirement}
                                if outputForge.collectionsRequirement
                                    for requirement in outputForge.collectionsRequirement
                                        | <br />+ #{requirement.name} #{requirement.tier}
                            td(id="forge"+i+"Duration").forgeDuration= outputForge.duration || outputForge.durationText
                            td(id="forge"+i+"ProductPrice").forgeProductPrice=outputForge.priceText
                            td(id="forge"+i+"NoOfAuctions").forgeNoOfAuctions
                                if !outputForge.source
                                    if (settings.noOfAuctionsMin!=0&&outputForge.noOfAuctions<settings.noOfAuctionsMin)
                                        span.warning #{outputForge.noOfAuctions} (price unstable) 
                                    else
                                        | #{outputForge.noOfAuctions} 
                                    br
                                    i.fas.fa-info-circle(onclick="generateAuctionLink(\""+outputForge.name+"\","+outputForge.approximateMatch+","+"1"+","+settings.overbuyTolerance+")")
                                    span &nbsp; &nbsp;
                                    a(href="https://sky.coflnet.com/item/"+outputForge.rawId target="_blank"): i.fas.fa-history
                            td(id="forge"+i+"MaterialsName").forgeMaterialsName
                                if outputForge.materials
                                    each material in outputForge.materials
                                        span(class=((material.outOfStock||material.violateOverbuyTolerance)&&(settings.ah==1||settings.bz==1))?"warning":"") #{material.quantity} x #{material.name}
                                        br
                            td(id="forge"+i+"UnitCost").forgeUnitCost
                                if outputForge.materials
                                    each material in outputForge.materials
                                        if material.outOfStock&&(settings.ah==1||settings.bz==1)
                                            span.warning #{material.priceText} (out of stock)
                                        else if material.violateOverbuyTolerance&&(settings.ah==1||settings.bz==1)
                                            span.warning #{material.priceText} (overbuy)
                                        else
                                            | #{material.priceText}
                                        br
                            td.forgeUnitCost
                                if outputForge.materials
                                    each material in outputForge.materials
                                        if !material.source
                                            i.fas.fa-info-circle(onclick="generateAuctionLink(\""+material.name+"\","+material.approximateMatch+","+material.quantity+","+settings.overbuyTolerance+")")
                                        br
                            td(id="forge"+i+"ComponentCost").forgeComponentCost
                                if outputForge.materials
                                    each material in outputForge.materials
                                        | #{material.componentCostText}
                                        br
                            td(id="forge"+i+"Cost").forgeCost
                                if (settings.budget!=0&&settings.budget<outputForge.totalCost)
                                    span.warning #{outputForge.totalCostText} (overbudget)
                                else
                                    | #{outputForge.totalCostText}
                            td(id="forge"+i+"NetProfit" class=(outputForge.profit<0?"warning":"")).forgeNetProfit=outputForge.profitText
                            td(id="forge"+i+"ProfitPerHour" class=(outputForge.profit<0?"warning":"")).forgeProfitPerHour=outputForge.profitPerHourText
                            td(id="forge"+i+"ProfitRatio" class=(outputForge.profit<0?"warning":"")).forgeProfitRatio=outputForge.profitRatioText
                            //- loss -> yellow label
                        - i++;
            p: small
                if(settings.lastUpdatedBazaar)
                    | Last updated time of bazaar price: #{settings.lastUpdatedBazaar} UTC
                if(settings.lastUpdatedAuctionServerString)
                    | <br /> Last updated time of auction price: #{settings.lastUpdatedAuctionServerString} UTC
                if(settings.lastUpdatedProfile)
                    | <br /> Last updated time of profile: #{settings.lastUpdatedProfile} UTC
