extends ../layouts/default

block append js
	script(src="/js/eventsData.js")
	//- script(src="/js/minionsOperation.js")
	//- script(src="/js/minionsData.js")
	script(src="/js/index.js")

block append variables 
	- var currentPage = "home";
	- var numberOfMinions = 52;

block content
	.container
		h1 Welcome to HyMinions!
		//- br
		//- .my-box
		//- 	.container
		//- 		h4#announcementsHeaderYellow.header UPDATE
		//- 		//- p.
		//- 		//- 	Hello visitors! Hope you have enjoyed my minion calculator. I have made some updates to the website.
		//- 		ul
		//- 			li Added <a href="/forge">forge options comparison</a>.
		//- 			li Added Enchanted Mithril and Enchanted Titanium.
		//- 			li Added Mithril and Tier 12 minions.
		//- 			li Added manual calibration in events page for Daylight Saving Time adjustments.
		//- 		p.
		//- 			If you spot a bug, feel free to <a href="/contact">contact me</a>.

		br
		.my-box
			.container
				h4#eventsHeader.header: a(href="/events") EVENTS
				h4#eventDescription Loading
				a(href="/events") View other events

		br
		.my-box
			.container
				h4#minionsHeader.header: a(href="/minions") MINIONS
				p Type in your Minecraft name and offline duration, then click "Apply" to make your own tailor-made minion list.

				a(href="/minions") Click here for more settings and calculation details
				br
				br
				#minionsInput
					.form-group#useProfile
						p Minecraft Name: &nbsp; 
							input#overallProfileName.form-control(value=settings.name)
						if(settings.profileNames)
							label(for="overallProfileProfile") Profile: &nbsp;
							select#overallProfileProfile.form-control
								-let k=0
								while k<settings.profileNames.length
									option(value=k selected=(settings.profile==k?'selected':undefined))=settings.profileNames[k]
									-k++;
					.form-group
						p Offline time: &nbsp; 
							input#overallOfflineTime.form-control(type="number" value=settings.offlineTimeUnit==1?settings.offlineTime/24:settings.offlineTime min="0")
							span &nbsp;
							select#overallOfflineTimeUnit.form-control
								option(value="0" selected=(settings.offlineTimeUnit==0?'selected':undefined)) hour(s)
								option(value="1" selected=(settings.offlineTimeUnit==1?'selected':undefined)) day(s)
					button#overallSettings.btn(onclick="generateLink()") Apply
				
				br
				h4 Top Profitable Minions
				#minionsIndexTable
					.row
						.offset-2.col-4.text-center: h5 Minion
						.col-2.text-center: h5 Tier
						.col-4: h5 Total Profit
					- let i = 0
					while i<5
						.row.align-items-center
							.col-2.text-center
								p.d-inline.p-height-fix ##{i+1}
								p.d-none.d-md-inline &nbsp;
								img(src="/images/minions/"+minions[i].name+".png").d-inline
							.col-4.text-center: p(id="minion"+i+"Name").mb-0=minions[i].name.substring(0, minions[i].name.lastIndexOf(" "))
							.col-2.text-center: p(id="minion"+i+"Tier").mb-0=minions[i].tier
							.col-4: p(id="minion"+i+"Profit").mb-0=minions[i].totalProfitText
						- i++;
					
					#collapseMinions.collapse
						while i<minions.length
							.row.align-items-center
								.col-2.text-center
									p.d-inline.p-height-fix ##{i+1}
									p.d-none.d-md-inline &nbsp;
									img(src="/images/minions/"+minions[i].name+".png").d-inline
								.col-4.text-center: p(id="minion"+i+"Name").mb-0=minions[i].name.substring(0, minions[i].name.lastIndexOf(" "))
								.col-2.text-center: p(id="minion"+i+"Tier").mb-0=minions[i].tier
								.col-4: p(id="minion"+i+"Profit").mb-0=minions[i].totalProfitText
							- i++;

				a.read-more(data-toggle="collapse" href="#collapseMinions" aria-expanded="false" aria-controls="collapseMinions") Expand/ Collapse
				
				br
				br
				p: small Based on tier 11 minions, 24 hours offline time, with Enchanted Lava Bucket, Diamond Spreading and Dwarven Super Compactor equipped. You are expected to sell your products using "sell instantly". 

				a(href="/minions") Click here for more settings and calculation details

		
		//- br
		//- .my-box
		//- 	.container
		//- 		h4#announcementsHeader.header HELP WANTED
		//- 		p.
		//- 			I have been doing some research on minion storages. I would like to know how to calculate when a minion would completely fill out, so that I can make a more advanced minion calculator.
		//- 		p.
		//- 			If your minions are full, you could help me out by screen capture the minion GUI (with the minion storages) and upload to <a href="https://docs.google.com/forms/d/e/1FAIpQLScWcmL2yTLDqHCU3yPYW5u1IVLpS5ZGx55a-ZwjZ_JYkO61Zg/viewform?usp=sf_link" class="live">this google form</a>.
		//- 		p Alternatively, if you have any insights on the calculation, you could reply to <a href="https://hypixel.net/threads/skyblock-when-would-a-minion-be-full.3669416/" class="live">my forum post</a>.
		//- 		p Thank you very much!

				