extends ../layouts/default

block append js
	script(src="/js/eventsData.js")
	//- script(src="/js/minionsOperation.js")
	//- script(src="/js/minionsData.js")
	script(src="/js/index.js")

block append variables 
	- var currentPage = "home";
	- var numberOfMinions = 52;

block content
	.container
		h1 Welcome to HyMinions! <img src="images/aotd.png" width="40" height="40"/>

		//- br
		//- .my-box
		//- 	.container
		//- 		h4.announcementsHeader2.header ANNOUNCEMENT
		//- 		p Hypixel will be back on very soon. However, the Hypixel API, that HyMinions depends on, probably will not be available that soon. Therefore, the minion profit calculator and forge profit calculator would not be available for a short while even after Hypixel is on. 
		//- 		p However, I have made slight changes to the code so that it can calculate minions profit with NPC price. Even though the minions profit calculator will not be in full function, at least you can see the items that different minions generate.
		//- 		p Sorry for the inconvenience caused and I hope you would use my minion calculator again when both Hypixel and Hypixel API functions normally.
		//- 		p: a(href="minions/?sellingTo=0") Click here to check the calculator with NPC price
		
		//- br
		//- .my-box
		//- 	.container
		//- 		h4.announcementsHeaderYellow.header: a(href="/minionscost") <img src="/images/news.png" width="30" height="30"/> UPDATE
				
		//- 		p Added inferno minion for minion cost page.
				

		br
		.my-box
			.container
				h4.eventsHeader.header: a(href="/events") <img src="/images/events.png" width="30" height="30"/> EVENTS 
				h4#eventDescription Loading
				a(href="/events") View other events

		br 
		
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		//-index1
		<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3541192882647315" data-ad-slot="9139447013" data-ad-format="auto" data-full-width-responsive="true"></ins>
		<script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>

		br
		.my-box
			.container
				h4.minionsHeader.header: a(href="/minions") <img src="/images/minions.png" width="30" height="30"/> MINIONS 
				p Type in your Minecraft name and offline duration, then click "Apply" to make your own tailor-made minion list.

				a(href="/minions") Click here for more settings and calculation details
				br
				br
				#minionsInput
					.form-group#useProfile
						p Minecraft Name (Recommended): &nbsp; 
							input#overallProfileName.form-control(value=settings.name)
						if(settings.profileNames)
							label#overallProfileProfileLabel(for="overallProfileProfile") Profile: &nbsp;
							select#overallProfileProfile.form-control
								-let k=0
								while k<settings.profileNames.length
									option(value=k selected=(settings.profile==k?'selected':undefined))=settings.profileNames[k]
									-k++;
					.form-group
						p Offline time: &nbsp; 
							input#overallOfflineTime.form-control(type="number" value=settings.offlineTimeUnit==1?settings.offlineTime/24:settings.offlineTime min="0")
							span &nbsp;
							select#overallOfflineTimeUnit.form-control
								option(value="0" selected=(settings.offlineTimeUnit==0?'selected':undefined)) hour(s)
								option(value="1" selected=(settings.offlineTimeUnit==1?'selected':undefined)) day(s)
						small.pl-3 ^If you are not sure about your offline time, you could leave it as 1 day.
					button#overallSettings.btn(onclick="generateLinkIndex()") Calculate
					span &nbsp; &nbsp; &nbsp;
					button.btn.btn-link.read-more(onclick="clearInput()") Clear
				
				br
				#content
					//- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					//- //-test-index1
					//- <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6880962885436734" data-ad-slot="3142042549" data-ad-format="auto" data-full-width-responsive="true"></ins>
					//- <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
					
					if settings && settings.run == 0
						h4 Top Profitable Minions
						p Click "Calculate" to show minions profit list.
						#minionsIndexTable
							.row
								.offset-2.col-4.text-center: h5: a(href="/?run=1#content") Minion
								.col-2.text-center: h5: a(href="/?run=1#content") Tier
								.col-4: h5: a(href="/?run=1#content") Total Profit
							- let i = 0
							- let sampleMinionsArray=["Voidling Minion","Tarantula Minion","Lapis Minion","Snow Minion","Melon Minion"]
							while i<5
								.row.align-items-center
									.col-2.text-center
										p.d-inline.p-height-fix: a(href="/?run=1#content") #?
										p.d-none.d-md-inline &nbsp;
										img(src="/images/minions/"+sampleMinionsArray[i]+".png").d-inline
									.col-4.text-center: a(id="minion"+i+"Name" href="/?run=1#content").mb-0=sampleMinionsArray[i].substring(0, sampleMinionsArray[i].lastIndexOf(" "))
									.col-2.text-center: a(id="minion"+i+"Tier" href="/?run=1#content").mb-0=11
									.col-4: a(id="minion"+i+"Profit" href="/?run=1#content").mb-0 Click to calculate
								- i++;
						br
						br
						p: small Based on minions With Enchanted Lava Bucket, Diamond Spreading and Dwarven Super Compactor 3000 equipped. You are expected to sell your products using "sell instantly".
						p: small If you leave Minecraft Name blank, we would estimate the minions you have if you have 23 minion slots.
						a(href="/minions") Click here for more settings and calculation details
					else if settings.hasError
						h1 Error
						p.lead=settings.errorMsg
						h3 Is Hypixel API down?
						p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
						p If so, we could not calculate minions profit based on the latest bazaar price. However, you may try <a href="minions/?sellingTo=0">this set of settings</a> to obtain the minions profit in NPC price instead, until the Hypixel API is fixed.
						p You may make a bug report <a href="/contact">here</a> if the above set of settings also does not work. Sorry for the inconvenience caused.
					else if !minions || !settings
						h1 Error
						p.lead An unexpected error has occured.
						h3 Is Hypixel API down?
						p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
						p If so, we could not calculate minions profit based on the latest bazaar price. However, you may try <a href="minions/?sellingTo=0">this set of settings</a> to obtain the minions profit in NPC price instead, until the Hypixel API is fixed.
						p You may make a bug report <a href="/contact">here</a> if the above set of settings also does not work. Sorry for the inconvenience caused.
					else
						h4 Top Profitable Minions
						#minionsIndexTable
							.row
								.offset-2.col-4.text-center: h5 Minion
								.col-2.text-center: h5 Tier
								.col-4.totalProfitTitleRightAlign: h5 Total Profit
							- let i = 0
							while i<5
								.row.align-items-center
									.col-2.text-center
										p.d-inline.p-height-fix ##{i+1}
										p.d-none.d-md-inline &nbsp;
										img(src="/images/minions/"+minions[i].name+".png").d-inline
									.col-4.text-center: p(id="minion"+i+"Name").mb-0=minions[i].name.substring(0, minions[i].name.lastIndexOf(" "))
									.col-2.text-center: p(id="minion"+i+"Tier").mb-0=minions[i].tier
									.col-4: p(id="minion"+i+"Profit").mb-0.text-right.totalProfitRightAlign=minions[i].totalProfitText
								- i++;
							
							#collapseMinions.collapse.show
								while i<minions.length
									.row.align-items-center
										.col-2.text-center
											p.d-inline.p-height-fix ##{i+1}
											p.d-none.d-md-inline &nbsp;
											img(src="/images/minions/"+minions[i].name+".png").d-inline
										.col-4.text-center: p(id="minion"+i+"Name").mb-0=minions[i].name.substring(0, minions[i].name.lastIndexOf(" "))
										.col-2.text-center: p(id="minion"+i+"Tier").mb-0=minions[i].tier
										.col-4: p(id="minion"+i+"Profit").mb-0.text-right.totalProfitRightAlign=minions[i].totalProfitText
									- i++;

						a.read-more(data-toggle="collapse" href="#collapseMinions" aria-expanded="true" aria-controls="collapseMinions")
							span.collapsed Show more
							span.expanded Show less
				
						br
						br
						p: small Based on minions With Enchanted Lava Bucket, Diamond Spreading and Dwarven Super Compactor 3000 equipped. You are expected to sell your products using "sell instantly".
						p: small If you leave Minecraft Name blank, we would estimate the minions you have if you have 23 minion slots.
						a(href="/minions") Click here for more settings and calculation details
		br
		.my-box
			.container
				h4.minionsCostHeader.header: a(href="/minionscost") <img src="/images/minionsCost.png" width="30" height="30"/> MINIONS (CRAFTS)
				p It calculates the cheapest minions to level up to gain more minion slots, also tailor-made for each profile if you input your Minecraft name. It also shows you how much money you need to spend on materials to unlock a new minion tier.
				p: a(href="/minionscost") Click to try

		br
		.my-box
			.container
				h4.announcementsHeader.header: a(href="/contact#contributing") ANNOUNCEMENT
				p The source code of HyMinions and an API are available publicly now. Click <a href="/contact#contributing">here</a> to view more.

		br
		.my-box
			.container
				h4.discordHeader.header: a(href="https://discord.gg/2KabAgsN6Y") <img src="/images/discord.png" width="30" height="30"/> DISCORD
				p Join my Discord server to gain access to various perks
				ul
					li Access to beta content (if applicable)
					li Regular giveaways (Skyblock coins and more)!
					li Join and chat about HyMinions, Hypixel Skyblock or even other games! 
				a(href="https://discord.gg/2KabAgsN6Y") Invite link
				

		//- br
		//- .my-box
		//- 	.container
		//- 		h4.discordHeader.header: a(href="https://discord.gg/2KabAgsN6Y") <img src="/images/discord.png" width="30" height="30"/> DISCORD
		//- 		p I have recently created a Discord server, join and chat about HyMinions, Hypixel Skyblock or even other games! 
		//- 		a(href="https://discord.gg/2KabAgsN6Y") Invite link
				