extends ../layouts/default

block append js
	script(src="/js/eventsData.js")
	//- script(src="/js/minionsOperation.js")
	//- script(src="/js/minionsData.js")
	script(src="/js/index.js")

block append variables 
	- var currentPage = "home";
	- var numberOfMinions = 52;

block content
	.container
		h1 Welcome to HyMinions! <img src="images/aotd.png" width="40" height="40"/>

		br
		.my-box
			.container
				h4#announcementsHeader2.header ANNOUNCEMENT
				p Hypixel will be back on very soon. However, the Hypixel API, that HyMinions depends on, probably will not be available that soon. Therefore, the minion profit calculator and forge profit calculator would not be available for a short while even after Hypixel is on. 
				p However, I have made slight changes to the code so that it can calculate minions profit with NPC price. Even though the minions profit calculator will not be in full function, at least you can see the items that different minions generate.
				p Sorry for the inconvenience caused and I hope you would use my minion calculator again when both Hypixel and Hypixel API functions normally.
				p: a(href="minions/?sellingTo=0") Click here to check the calculator with NPC price
		br
		.my-box
			.container
				h4#announcementsHeaderYellow.header: a(href="/minions") <img src="/images/news.png" width="30" height="30"/> UPDATE 
				h3 Minion Calculator Update
				a(href="/minions") Click to check
				ul
					li Fixed Voidling Minion product output amount
					li Added Lesser Soulflow Engine as an experimental feature
					li Added Voidling Minion and new variants of ender pearl
					li Brand new minion calculator which more suits your actual needs
				
				#collapseAnnouncements.collapse
					h4 New minion calculator
					p The new minion calculator would calculate the profit based on your frequency of collecting minions.
					p For example, lapis minions could be a good minion for active players, who collect enchanted lapis before they are automatically converted into enchanted lapis blocks, but not for those who are less active.
					p To use the new minion calculator, you could either type in your name and offline duration right here on the homepage or go to the <a href="/minions">minions</a> page if you would like to change some settings. (e.g. fuel/ diamond spreading)
					p If you wish to use the old settings, you could click <a href="minions/?calculationType=0&diamondSpreading=1&sellingMethod=0">here</a> to have the previous settings prefilled for you. 
					h4 Link sharing
					p You could share the URL of the website after you have entered your settings and clicked apply. For example, <a href="/minions/?name=technoblade&offlineTime=240&/#content"> this link </a> gives the minion profit list of Technoblade for 10 days of offline time.
					p This saves time typing your desired settings every time you visit the site, and it makes sharing specific minion profit lists easier.
					h4 Miscellaneous
					ul
						li Added tier 12 farming minions
						li Changed default settings from "sell offer" to "sell instantly" at the bazaar, to stabilize the bazaar prices
						li Aesthetic improvements
					p You could submit bug reports or comments <a href="/contact">here</a>. I hope you all like the update. Thank you!
				a.read-more(data-toggle="collapse" href="#collapseAnnouncements" aria-expanded="false" aria-controls="collapseAnnouncements")
					span.collapsed Show more
					span.expanded Show less
				//- p.
				//- 	If you spot a bug, feel free to <a href="/contact">contact me</a>.

		br
		.my-box
			.container
				h4#eventsHeader.header: a(href="/events") <img src="/images/events.png" width="30" height="30"/> EVENTS 
				h4#eventDescription Loading
				a(href="/events") View other events

		br 
		
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		//-index1
		<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3541192882647315" data-ad-slot="9139447013" data-ad-format="auto" data-full-width-responsive="true"></ins>
		<script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>

		br
		.my-box
			.container
				h4#minionsHeader.header: a(href="/minions") <img src="/images/minions.png" width="30" height="30"/> MINIONS 
				p Type in your Minecraft name and offline duration, then click "Apply" to make your own tailor-made minion list.

				a(href="/minions") Click here for more settings and calculation details
				br
				br
				#minionsInput
					.form-group#useProfile
						p Minecraft Name (optional): &nbsp; 
							input#overallProfileName.form-control(value=settings.name)
						if(settings.profileNames)
							label(for="overallProfileProfile") Profile: &nbsp;
							select#overallProfileProfile.form-control
								-let k=0
								while k<settings.profileNames.length
									option(value=k selected=(settings.profile==k?'selected':undefined))=settings.profileNames[k]
									-k++;
					.form-group
						p Offline time: &nbsp; 
							input#overallOfflineTime.form-control(type="number" value=settings.offlineTimeUnit==1?settings.offlineTime/24:settings.offlineTime min="0")
							span &nbsp;
							select#overallOfflineTimeUnit.form-control
								option(value="0" selected=(settings.offlineTimeUnit==0?'selected':undefined)) hour(s)
								option(value="1" selected=(settings.offlineTimeUnit==1?'selected':undefined)) day(s)
					button#overallSettings.btn(onclick="generateLinkIndex()") Calculate
				
				br
				#content
					//- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					//- //-test-index1
					//- <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6880962885436734" data-ad-slot="3142042549" data-ad-format="auto" data-full-width-responsive="true"></ins>
					//- <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
					
					if settings && settings.run == 0
						h4 Top Profitable Minions
						p Click "Calculate" to show minions profit list.
						#minionsIndexTable
							.row
								.offset-2.col-4.text-center: h5 Minion
								.col-2.text-center: h5 Tier
								.col-4: h5 Total Profit
							- let i = 0
							- let sampleMinionsArray=["Voidling Minion","Tarantula Minion","Lapis Minion","Snow Minion","Melon Minion"]
							while i<5
								.row.align-items-center
									.col-2.text-center
										p.d-inline.p-height-fix #?
										p.d-none.d-md-inline &nbsp;
										img(src="/images/minions/"+sampleMinionsArray[i]+".png").d-inline
									.col-4.text-center: p(id="minion"+i+"Name").mb-0=sampleMinionsArray[i].substring(0, sampleMinionsArray[i].lastIndexOf(" "))
									.col-2.text-center: p(id="minion"+i+"Tier").mb-0=11
									.col-4: p(id="minion"+i+"Profit").mb-0 ???
								- i++;
						br
						br
						p: small If you leave Minecraft Name blank, we would calculate based on tier 11 minions. It is also based on minions With Enchanted Lava Bucket, Diamond Spreading and Dwarven Super Compactor 3000 equipped. You are expected to sell your products using "sell instantly". 
					else if !minions || !settings
						h1 Error
						p.lead An unexpected error has occured.
						h3 Is Hypixel API down?
						p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
						p If so, we could not calculate minions profit based on the latest bazaar price. However, you may try <a href="minions/?sellingTo=0">this set of settings</a> to obtain the minions profit in NPC price instead, until the Hypixel API is fixed.
						p You may make a bug report <a href="/contact">here</a> if the above set of settings also does not work. Sorry for the inconvenience caused.
					else if settings.hasError
						h1 Error
						p.lead=settings.errorMsg
						h3 Is Hypixel API down?
						p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
						p If so, we could not calculate minions profit based on the latest bazaar price. However, you may try <a href="minions/?sellingTo=0">this set of settings</a> to obtain the minions profit in NPC price instead, until the Hypixel API is fixed.
						p You may make a bug report <a href="/contact">here</a> if the above set of settings also does not work. Sorry for the inconvenience caused.
					else
						h4 Top Profitable Minions
						#minionsIndexTable
							.row
								.offset-2.col-4.text-center: h5 Minion
								.col-2.text-center: h5 Tier
								.col-4: h5 Total Profit
							- let i = 0
							while i<5
								.row.align-items-center
									.col-2.text-center
										p.d-inline.p-height-fix ##{i+1}
										p.d-none.d-md-inline &nbsp;
										img(src="/images/minions/"+minions[i].name+".png").d-inline
									.col-4.text-center: p(id="minion"+i+"Name").mb-0=minions[i].name.substring(0, minions[i].name.lastIndexOf(" "))
									.col-2.text-center: p(id="minion"+i+"Tier").mb-0=minions[i].tier
									.col-4: p(id="minion"+i+"Profit").mb-0=minions[i].totalProfitText
								- i++;
							
							#collapseMinions.collapse
								while i<minions.length
									.row.align-items-center
										.col-2.text-center
											p.d-inline.p-height-fix ##{i+1}
											p.d-none.d-md-inline &nbsp;
											img(src="/images/minions/"+minions[i].name+".png").d-inline
										.col-4.text-center: p(id="minion"+i+"Name").mb-0=minions[i].name.substring(0, minions[i].name.lastIndexOf(" "))
										.col-2.text-center: p(id="minion"+i+"Tier").mb-0=minions[i].tier
										.col-4: p(id="minion"+i+"Profit").mb-0=minions[i].totalProfitText
									- i++;

						a.read-more(data-toggle="collapse" href="#collapseMinions" aria-expanded="false" aria-controls="collapseMinions")
							span.collapsed Show more
							span.expanded Show less
				
						br
						br
						p: small If you leave Minecraft Name blank, we would calculate based on tier 11 minions. It is also based on minions With Enchanted Lava Bucket, Diamond Spreading and Dwarven Super Compactor 3000 equipped. You are expected to sell your products using "sell instantly". 

				a(href="/minions") Click here for more settings and calculation details

		
		br
		.my-box
			.container
				h4#announcementsHeader.header: a(href="/minions") HELP WANTED
				p I have added an info button on the rightmost side of the minion table in the minions page, containing all the raw data about the minions. If you spot any incorrect data in the info section, please contact me <a href="/contact">here</a>. You could verify the data with Hypixel Wiki or your own experience in Skyblock.
		br
		.my-box
			.container
				h4#discordHeader.header <img src="/images/discord.png" width="30" height="30"/> DISCORD
				p I have recently created a Discord server, join and chat about HyMinions, Hypixel Skyblock or even other games! 
				a(href="https://discord.gg/2KabAgsN6Y") Invite link
				