extends ../layouts/default

block append js
    script(src="/js/jquery/jquery.doubleScroll.js")
    script(src="/js/minionsData.js")
    script(src="/js/minionsOperation.js")
    script(src="/js/minions.js")
    	
block append variables
    - var currentPage = "minions";
    - var numberOfMinions = 52;

block meta
    meta(name="description" content="Know your most profitable minions! Tailor made for each profile, fully accurate.")

mixin infoBox(id,title, info)
    i.fas.fa-question-circle(data-toggle="modal" data-target="#"+id)
    .modal.fade(id=id tabindex="-1" role="dialog" aria-labelledby=ud+"Label" aria-hidden="true")
                .modal-dialog(role="document")
                    .modal-content
                        .modal-header
                            h5.modal-title(id=id+"Label")=title
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                        .modal-body
                            p=info
                        .modal-footer
                            button.btn.btn-secondary(type="button" data-dismiss="modal") Close

block content
    .container
        h1 MINIONS
        #overall
            .row
                #general.col-lg-5.col-12
                    br
                    h3 General
                    .form-group
                        //-pretick use profile to be true for first time visit
                        input#overallUseProfile.checkbox(type="checkbox" onchange="toggleUseProfile()" checked=(settings.useProfile==false&&settings.tier!=12 ? undefined:"checked")) 
                        label(for="overallUseProfile") &nbsp; Use Profile
                    .form-group#useProfile(class=(settings.useProfile==false&&settings.tier!=12 ? "d-none":""))
                        p Minecraft Name: &nbsp; 
                            input#overallProfileName.form-control(value=settings.name)
                        select#overallProfileProfile.form-control
                            -let k=0
                            while k<5
                                option(id="overallProfileProfileOption"+k value=k)
                                -k++;
                    
                    .form-group#useTier(class=(settings.useProfile==false&&settings.tier!=12 ? "":"d-none"))
                        label(for="overallTier") Tier: &nbsp;
                        select#overallTier.form-control
                            -let j=1
                            while j<=11
                                option(selected=(settings.tier==j ? 'selected':undefined))=j
                                -j++;
                            option(selected=(settings.tier==12 ? 'selected':undefined) value="12") 11/12
                    .form-group
                        p Fuel: &nbsp; 
                            input#overallFuel.form-control(type="number" value=settings.fuel min="0")
                            span &nbsp; %


                    
                .col-lg-7.col-12  
                    #advanced
                        br
                        h3 Advanced 
                        .form-group
                            label(for="overallCalculationType") Selection of products form: &nbsp;  
                            select#overallCalculationType.form-control(onchange="toggleCalculationType()")
                                option(value="0" selected=(settings.calculationType==0?'selected':undefined)) Manual
                                option(value="1" selected=(settings.calculationType==1?'selected':undefined)) Automatic (based on offline duration)
                            span &nbsp; 
                                +infoBox("calculationTypeModal","Calculation Type","I don't know either")
                        #manualCalculationType(class=(settings.calculationType==0 ? "":"d-none"))
                            .form-group
                                label(for="overallProductForm") Products form: &nbsp;
                                select#overallProductForm.form-control
                                    option(value="-3" selected=(settings.productForm==-3?'selected':undefined)) Max profit (enchanted forms)
                                    option(value="-2" selected=(settings.productForm==-2?'selected':undefined)) Max profit
                                    option(value="-1" selected=(settings.productForm==-1?'selected':undefined)) Unenchanted form
                                    option(value="0" selected=(settings.productForm==0?'selected':undefined)) First enchanted form
                                    option(value="1" selected=(settings.productForm==1?'selected':undefined)) Second enchanted form (if applicable)
                            .form-group
                                label(for="overallDiamondSpreadingDwarvenCompactor") Diamond Spreading: &nbsp;
                                select#overallDiamondSpreadingDwarvenCompactor.form-control
                                    option(value="0" selected=(settings.diamondSpreading==0?'selected':undefined)) None
                                    option(value="1" selected=(settings.diamondSpreading==1||settings.diamondSpreading==3?'selected':undefined)) Diamond spreading only
                                    option(value="2" selected=(settings.diamondSpreading==2?'selected':undefined)) Diamond spreading + Dwarven super compactor
                                span &nbsp; 
                                    +infoBox("diamondSpreadingDwarvenCompactorModal","Diamond Spreading","I don't know either")
                        #autoCalculationType(class=(settings.calculationType==1 ? "":"d-none"))
                            .form-group
                                p Offline time: &nbsp; 
                                    input#overallOfflineTime.form-control(type="number" value=settings.offlineTime min="0")
                                    span &nbsp; hours
                            .form-group
                                input#overallDiamondSpreading.checkbox(type="checkbox" checked=(settings.diamondSpreading>=1 ? 'checked' : undefined))
                                label(for="overallDiamondSpreading") &nbsp; Has Diamond Spreading &nbsp;
                                +infoBox("diamondSpreadingModal","Diamond Spreading","I don't know either")
                            .form-group
                                label(for="overallSuperCompactor") Compactor: &nbsp;
                                select#overallSuperCompactor.form-control(onchange="toggleMinionChest()")
                                    option(value="0" selected=(settings.superCompactor==0?'selected':undefined)) None
                                    option(value="1" selected=(settings.superCompactor==1?'selected':undefined)) Compactor
                                    option(value="2" selected=(settings.superCompactor==2?'selected':undefined)) Super Compactor
                                    option(value="3" selected=(settings.superCompactor==3?'selected':undefined)) Dwarven Super Compactor
                                span &nbsp; 
                                    +infoBox("superCompactorModal","Dwarven Super Compactor","I don't know either")
                            #minionChest(class=(settings.superCompactor<=1 ? "":"d-none"))
                                .form-group
                                    label(for="overallMinionChest") Minion Chest: &nbsp;
                                    select#overallMinionChest.form-control
                                        option(value="0" selected=(settings.minionChest==0?'selected':undefined)) None
                                        option(value="3" selected=(settings.minionChest==3?'selected':undefined)) Small Storage
                                        option(value="9" selected=(settings.minionChest==9?'selected':undefined)) Medium Storage
                                        option(value="15" selected=(settings.minionChest==15?'selected':undefined)) Large Storage
                                        option(value="21" selected=(settings.minionChest==21?'selected':undefined)) X-Large Storage
                                        option(value="27" selected=(settings.minionChest==27?'selected':undefined)) XX-Large Storage
                                .form-group
                                    label(for="overallAutomaticShipping") Automated Shipping: &nbsp;
                                    select#overallAutomaticShipping.form-control
                                        option(value="0" selected=(settings.automaticShipping==0?'selected':undefined)) None
                                        option(value="0.5" selected=(settings.automaticShipping==0.5?'selected':undefined)) Budget Hopper
                                        option(value="0.9" selected=(settings.automaticShipping==0.9?'selected':undefined)) Enchanted Hopper
                        
                    
                        
                        br
                        #miscellaneousInline
                            h3 Miscellaneous &nbsp;
                            a.read-more(data-toggle="collapse" href="#miscellaneous" aria-expanded="false" aria-controls="miscellaneous") Expand/ Collapse
                        #miscellaneous.collapse
                            .form-group
                                label(for="overallSellingTo") Selling to: &nbsp;
                                select#overallSellingTo.form-control
                                    option(value="0" selected=(settings.sellingTo==0?'selected':undefined)) Max profit (NPC or bazaar)
                                    option(value="1" selected=(settings.sellingTo==1?'selected':undefined)) Bazaar only
                                    option(value="-1" selected=(settings.sellingTo==-1?'selected':undefined)) NPC only
                            .form-group
                                label(for="overallSellingMethod") Selling method in bazaar: &nbsp;
                                select#overallSellingMethod.form-control
                                    option(value="0" selected=(settings.sellingMethod==0?'selected':undefined)) Sell offer
                                    option(value="1" selected=(settings.sellingMethod==1?'selected':undefined)) Sell instantly
                            .form-group
                                p Tax in bazaar: &nbsp; 
                                    input#overallTax.form-control(type="number" value=settings.tax min="0")
                                    span &nbsp; %
            br
            button#overallSettings.btn(onclick="generateLink()" disabled) Apply
            br
            br
            
        
        #doubleScroll
            table#minionsTable.table.table-dark.w-100
                thead
                    tr
                        th(scope="col")
                        th(scope="col") Minion
                        th(scope="col") Tier
                        th(scope="col") Items
                        th(scope="col") Items Per Hour
                        th(scope="col") Prices (Bazaar, 1% Tax)
                        th(scope="col") Profit per Hour
                - let i = 0;
                while i < numberOfMinions
                    tr
                        td="#"+(i+1)
                        td(id="minion"+i+"Name")= i==0?"Loading...":""
                        td(id="minion"+i+"Tier")
                        td
                            p(id="minion"+i+"Items").m-0
                            p(id="minion"+i+"Warning").warning.m-0
                        td(id="minion"+i+"ItemsPerHour")
                        td(id="minion"+i+"BazaarPrices")
                        td(id="minion"+i+"Profit")
                    - i++;
        //- #individualModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="individualModalLabel" aria-hidden="true")
        //-     .modal-dialog(role="document")
        //-         .modal-content
        //-             .modal-header
        //-                 h5#individualModalLabel.modal-title Title
        //-                 button.close(type="button" data-dismiss="modal" aria-label="Close")
        //-                     span(aria-hidden="true") &times;
        //-             .modal-body
        //-                 .form-group
        //-                     label(for="individualTier") Tier: &nbsp;
        //-                     select#individualTier.form-control
        //-                         -let l=1
        //-                         while l<=12
        //-                             option(id = "individualTierOption"+l selected = (l==12 ? "selected" : ""))=l
        //-                             -l++;
                            
        //-                 .form-group
        //-                     p Fuel: &nbsp; <input id="individualFuel" type="number" value="25" class="form-control" min="0"/> %
        //-                 .form-group
        //-                     input#individualDiamondSpreading.checkbox(type="checkbox" checked onchange="toggleIndividualDiamondSpreading()")
        //-                     label(for="individualDiamondSpreading") &nbsp; Has Diamond Spreading
        //-                 .form-group#products
        //-                     label Form of products:
        //-                     br
        //-                     -let m = 0;
        //-                     -let n = 0;
        //-                     while m<10
        //-                         select(id="individualProduct"+m).form-control
        //-                             -n=0;
        //-                             while n<5
        //-                                 option(id="individualProduct"+m+"Option"+n value=n)
        //-                                 -n++;
        //-                         -m++;
        //-                     select(id="individualProductDiamondSpreading").form-control
        //-                         -n=0;
        //-                         while n<3
        //-                             option(id="individualProductDiamondSpreadingOption"+n value=n)
        //-                             -n++;
        //-                 .form-group
        //-                     label(for="individualSellingTo") Selling to: &nbsp;
        //-                     select#individualSellingTo.form-control
        //-                         option(value="0") Max profit (NPC or bazaar)
        //-                         option(value="1") Bazaar only
        //-                         option(value="-1") NPC only
        //-                 .form-group
        //-                     label(for="individualSellingMethod") Selling method in bazaar: &nbsp;
        //-                     select#individualSellingMethod.form-control
        //-                         option(value="0") Sell offer
        //-                         option(value="1") Sell instantly
        //-             .modal-footer
        //-                 button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
        //-                 button.btn.btn-warning(type="button" data-dismiss="modal" onclick="applyIndividualSettings()") Apply

            
            