extends ../layouts/default

block append js
    script(src="/js/jquery/jquery.doubleScroll.js")
    script(src="/js/minionsCost.js")
    	
block append variables
    - var currentPage = "minionsCost";

block meta
    meta(name="description" content="It calculates the cheapest minions to level up to gain more minion slots, also tailor-made for each profile if you input your Minecraft name.")

mixin infoBox(id,type,title)
    if(type=="info")
        i.fas.fa-lg(data-toggle="modal" data-target="#"+id class="fa-info-circle")
    else if(type=="question")
        i.fas.fa-lg(data-toggle="modal" data-target="#"+id class="fa-question-circle")
    .modal.fade.infoBox(id=id tabindex="-1" role="dialog" aria-labelledby=id+"Label" aria-hidden="true")
        .modal-dialog(role="document" class=(type=="rightInfo"?"modal-xl":undefined))
            .modal-content
                .modal-header
                    h3.modal-title(id=id+"Label")=title
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    if block 
                        block 
                    else
                        p Nothing to see here
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close

block content
    .container
        h1.d-inline-block Minions (Crafts)
        span &nbsp; &nbsp;
        img.d-inline-block.align-top(src="/images/minionsCost.png" width="40" height="40")
        p.d-inline-block &nbsp; &nbsp; &nbsp;
        +infoBox("minionsTitleModal","info","Minions Crafts Calculator")
            p It calculates the cheapest minions to level up to gain more minion slots, also tailor-made for each profile if you input your Minecraft name. It also shows you how much money you need to spend on materials to unlock a new minion tier.
        p What are the cheapest minions to level up to gain more minion slots?
        #overall
            .row
                #general.col-lg-6.col-12
                    br
                    h3 General
                    .form-group
                        .form-group
                            input#overallUseProfile.checkbox(type="checkbox" onclick="toggleUseProfile()" checked=(settings.useProfile==true ? 'checked' : undefined))
                            label(for="overallUseProfile") &nbsp; Use Profile
                    .form-group#profileName
                        p Minecraft Name (Recommended): &nbsp; 
                            input#overallProfileName.form-control(value=settings.name oninput="setUseProfile()")
                            span &nbsp; &nbsp; 
                            +infoBox("profileModal","question","Why is my Minecraft name required?")
                                p If you enter your Minecraft name, it will calculate the cheapest minion ignoring the minion you have crafted. It could make the crafts list more personalized and useful.
                                p Alternatively, you could uncheck this "Use Profile" box, and it would show the whole crafts list.
                        if(settings.profileNames)
                            label#overallProfileProfileLabel(for="overallProfileProfile") Profile: &nbsp;
                            select#overallProfileProfile.form-control
                                -let k=0
                                while k<settings.profileNames.length
                                    option(value=k selected=(settings.profile==k?'selected':undefined))=settings.profileNames[k]
                                    -k++;
                #advanced.col-lg-6.col-12
                    br
                    h3 Advanced
                    .form-group
                        label(for="overallBuyingMethod") Buying method in bazaar: &nbsp;
                        select#overallBuyingMethod.form-control
                            option(value="1" selected=(settings.buyingMethod==1?'selected':undefined)) Buy order
                            option(value="0" selected=(settings.buyingMethod==0?'selected':undefined)) Buy instantly
                            
                    .form-group
                        label(for="overallTax") Tax in bazaar: &nbsp; 
                            input#overallTax.form-control(type="number" value=settings.tax min="0")
                            span &nbsp; %
            #filter
                br
                h3 Excludes
                br
                .row
                    .col-lg-6.col-12
                        #slayerCollectionsUseProfile(class=(settings.useProfile==true ? undefined : "d-none"))
                            .form-group
                                input#overallFilterSlayers.checkbox(type="checkbox" checked=(settings.filterSlayers==1 ? 'checked' : undefined))
                                label(for="overallFilterSlayers") &nbsp; Exclude locked slayer minions &nbsp; 
                                +infoBox("filterSlayersModal","question","Exclude locked slayer minions")
                                    p If checked, slayer minions that you cannot craft based on your slayer level will be put at the end of the list/ removed from the list. (based on your selection)
                            .form-group
                                input#overallFilterCollections.checkbox(type="checkbox" checked=(settings.filterCollections==1 ? 'checked' : undefined))
                                label(for="overallFilterCollections") &nbsp; Exclude locked minions (collections) &nbsp; 
                                +infoBox("filterCollectionsModal","question","Exclude locked minions (collections)")
                                    p If checked, minions that you cannot craft based on the collections you have will be put at the end of the list/ removed from the list. (based on your selection)
                                    p This feature would require collections API enabled. Click <a href="https://www.youtube.com/watch?v=-_LIyA5lNMU">here</a> to see how to enable API access.
                        #slayerCollectionsNoProfile(class=(settings.useProfile==true ? 'd-none' : undefined))
                            .form-group
                                input#overallBottomSlayers.checkbox(type="checkbox" checked=(settings.bottomSlayers==1 ? 'checked' : undefined))
                                label(for="overallBottomSlayers") &nbsp; Exclude slayer minions &nbsp; 
                                +infoBox("bottomSlayersModal","question","Exclude slayer minions")
                                    p If checked, all slayer minions will be put at the end of the list/ removed from the list. (based on your selection)
                    .col-lg-6.col-12
                        .form-group
                            label(for="overallDisplayMethod") Excluded crafts should be &nbsp;
                            select#overallDisplayMethod.form-control
                                option(value="1" selected=(settings.displayMethod==1?'selected':undefined)) put at the end of list
                                option(value="0" selected=(settings.displayMethod==0?'selected':undefined)) removed
                            span &nbsp; &nbsp; 
                            +infoBox("excludedCraftsModal","question","Excluded crafts should be ...")
                                p Decide whether the excluded minions (as you selected on the left/ above), should be put at the end of list or removed from the list.
                        .form-group
                            input#overallShowSlots.checkbox(type="checkbox" checked=(settings.showSlots==1 ? 'checked' : undefined))
                            label(for="overallShowSlots") &nbsp; Show slot information &nbsp; 
                            +infoBox("showSlotsModal","question","Show slot information")
                                p If checked, the colored line showing amount of coins needed and the slot that you are unlocking, should appear, such as "6th slot: 901.7 coins"
                br
                h3.d-inline-block Filters
                p.d-inline-block &nbsp; &nbsp; &nbsp;
                +infoBox("filtersModal","question","Filters")
                    p Only checked minions/tiers would appear in the list.
                br
                .row
                    //- filtered minions must be removed
                    .col-lg-6.col-12
                        .miscellaneousInline
                            h4 Minions &nbsp;
                            a.read-more(data-toggle="collapse" href="#filterMinions" aria-expanded="false" aria-controls="filterMinions")
                                span.collapsed Show more
                                span.expanded Show less
                        #filterMinions.collapse
                            input.checkbox#filterMinionsSelectAll(type="checkbox" checked=(settings.filterMinions&&settings.filterMinions.length!=0 ? undefined:"checked") onclick="toggleFilterMinionsSelectAll()")
                            label(for="filterMinionsSelectAll") &nbsp; Select All
                            hr
                            #filterMinionsBody
                                for minion in minions
                                    .form-group
                                        input.checkbox(type="checkbox" value=minion.id id="filterMinions"+minion.id checked=(settings.filterMinions&&settings.filterMinions.includes(minion.id.toString()) ? undefined:"checked") onclick="setFilterMinionsSelectAll()")
                                        label(for="filterMinions"+minion.id) &nbsp; !{minion.name}
                        br
                        br
                    .col-lg-6.col-12
                        .miscellaneousInline
                            h4 Tiers &nbsp;
                            a.read-more(data-toggle="collapse" href="#filterTiers" aria-expanded="false" aria-controls="filterTiers")
                                span.collapsed Show more
                                span.expanded Show less
                        #filterTiers.collapse
                            input.checkbox#filterTiersSelectAll(type="checkbox" checked=(settings.filterTiers&&settings.filterTiers.length!=0 ? undefined:"checked") onclick="toggleFilterTiersSelectAll()")
                            label(for="filterTiersSelectAll") &nbsp; Select All
                            hr
                            #filterTiersBody
                                - let i = 0
                                while i<12
                                    .form-group
                                        input.checkbox(type="checkbox" value=(i+1) id="filterTiers"+i checked=(settings.filterTiers&&settings.filterTiers.includes((i+1).toString()) ? undefined:"checked")  onclick="setFilterTiersSelectAll()")
                                        label(for="filterTiers"+i) &nbsp; Tier !{i+1}
                                    -i++;
                        br
                        br
            br
            button#overallSettings.btn(onclick="generateLink()") Apply
            span &nbsp; &nbsp; &nbsp;
            button.btn.btn-link.read-more(onclick="clearInput()") Clear
            br
            br

        #content
            hr
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3541192882647315" crossorigin="anonymous"></script>
            //- <!-- minionsCost1 -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3541192882647315" data-ad-slot="7408794849" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
            
            //- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3541192882647315" crossorigin="anonymous"></script>
            //- //- minionsCost-beta1
            //- <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3541192882647315" data-ad-slot="6124486969" data-ad-format="auto" data-full-width-responsive="true"></ins>
            //- <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
            
            br
            if settings&&settings.hasError
                h1 Error
                p.lead=settings.errorMsg
                h3 Is Hypixel API down?
                p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
                p If you think it is not an API problem, you may make a bug report <a href="/contact">here</a>. Sorry for the inconvenience caused.
            else if !minionsCost || !settings
                h1 Error
                p.lead An unexpected error has occured.
                h3 Is Hypixel API down?
                p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
                p If you think it is not an API problem, you may make a bug report <a href="/contact">here</a>. Sorry for the inconvenience caused.
            else
                if settings.useProfile
                    h3 Profile Information
                    p Minion Crafts: #{settings.minionCrafts}
                    p Minion Slots: #{settings.minionSlots} + #{settings.communitySlots} (Community Center)
                    p Crafts to next: #{settings.minionSlotsNext.length!=1? settings.minionSlotsNext[0]: "MAXED"}
                    p Coins to next: #{settings.minionSlotsCostText[0]}
                    if settings.collectionsDisabled && settings.filterCollections==1
                        p.loss Collection API access for this profile is disabled. Click <a href="https://www.youtube.com/watch?v=-_LIyA5lNMU">here</a> to see how to enable API access, so that we could put the minions that you cannot craft at the bottom of the list.
                #search: .form-group.row
                    .col-12.col-md-8.col-lg-6
                        label(for="searchInput") Search: &nbsp;
                        input#searchInput(list="searchDatalist").form-control
                        datalist#searchDatalist
                            -let nextIndexSearch = 0;
                            -let j=0;
                            while nextIndexSearch<settings.minionSlotsNext.length && j<minionsCost.length
                                while j<settings.minionSlotsNext[nextIndexSearch]&&j<minionsCost.length
                                    option(value=minionsCost[j].name.substring(0,minionsCost[j].name.lastIndexOf(" "))+" "+minionsCost[j].tier)
                                    -j++;
                                -nextIndexSearch++;
                        span &nbsp; &nbsp; &nbsp;
                        button#searchButton.btn(onclick="search()") Search
                    .col-12.col-md-3.col-lg-6
                        if settings.showSlots==1
                            if settings.showDetails == 1
                                button#showAll.btn.btn-link.read-more(onclick="showAll()") Expand All
                                button#hideAll.btn.btn-link.read-more.d-none(onclick="hideAll()") Hide All
                            else
                                button.btn.btn-link#showAll.read-more(onclick="appendShowDetails(-1)") Load and Expand All
                #doubleScroll: table#minionsCostTable.table.table-dark.w-100
                    thead
                        tr
                            th(scope="col").minionRankHeader
                            th(scope="col").minionNameHeader Minion
                            th(scope="col") Tier
                            th(scope="col") Upgrade Cost
                            th(scope="col").upgradeMaterialsHeader Upgrade materials
                            th(scope="col") Quantity
                            th(scope="col") Unit Price (Bazaar)
                            th(scope="col").upgradeCostHeader Upgrade Cost 

                    if (settings.showDetails==1)
                        //-show top 50, until next minion slot, hide others
                        -let nextIndex = 0;
                        -let i=0;
                        while i<Math.min(50,minionsCost.length)
                            if settings.showSlots==1
                                +slotRow(nextIndex,true,true)
                            while i<settings.minionSlotsNext[nextIndex]&&i<minionsCost.length
                                +minionCostRow(minionsCost[i],i,nextIndex,true)
                                -i++;
                            -nextIndex++;
                        while nextIndex<settings.minionSlotsNext.length && i<minionsCost.length
                            if settings.showSlots==1
                                +slotRow(nextIndex,false,true)
                            while i<settings.minionSlotsNext[nextIndex]&&i<minionsCost.length
                                +minionCostRow(minionsCost[i],i,nextIndex,false)
                                -i++;
                            -nextIndex++;
                    else
                        //-show top 50, until next minion slot, dont load others
                        -let nextIndex = 0;
                        -let i=0;
                        while i<Math.min(50,minionsCost.length)
                            if settings.showSlots==1
                                +slotRow(nextIndex,true,true)
                            while i<settings.minionSlotsNext[nextIndex]&&i<minionsCost.length
                                +minionCostRow(minionsCost[i],i,nextIndex,true)
                                -i++;
                            -nextIndex++;
                        while nextIndex<settings.minionSlotsNext.length && settings.minionSlotsNext[nextIndex-1] <minionsCost.length
                            if settings.showSlots==1
                                +slotRow(nextIndex,false,false)
                            -nextIndex++;

            if settings.showSlots==0
                if settings.showDetails == 0
                    button.btn.btn-link#showAllBottom.read-more(onclick="appendShowDetails(null,50)") Load and Expand All
                    br
                else
                    button.btn.btn-link#showAllBottom.read-more(onclick="showAll()") Expand All
                    br
            p: small
                if(settings.lastUpdatedBazaar)
                    | Last updated time of bazaar price: #{settings.lastUpdatedBazaar} UTC
                if(settings.lastUpdatedProfile)
                    | <br /> Last updated time of profile: #{settings.lastUpdatedProfile} UTC

mixin slotRow(nextIndex,isShown,isLoaded)
    tr(id="slot"+nextIndex+"Row" class="color-row-"+nextIndex%7)
        td.text-center.py-3
            if isLoaded == true 
                if isShown == true
                    i.fas.fa-lg.fa-plus-circle.showNextButton(id="showNextButton"+nextIndex onclick="showCollapseNext("+nextIndex+")").d-none
                    i.fas.fa-lg.fa-minus-circle.hideNextButton(id="hideNextButton"+nextIndex onclick="hideCollapseNext("+nextIndex+")")
                else
                    i.fas.fa-lg.fa-plus-circle.showNextButton(id="showNextButton"+nextIndex onclick="showCollapseNext("+nextIndex+")")
                    i.fas.fa-lg.fa-minus-circle.hideNextButton(id="hideNextButton"+nextIndex onclick="hideCollapseNext("+nextIndex+")").d-none
            else
                i.fas.fa-lg.fa-cloud-download-alt(id="showNextButton"+nextIndex onclick="appendShowDetails("+nextIndex+")")
        td(colspan="100%").py-3
            -let slotNumber = settings.minionSlots+nextIndex+1
            if nextIndex+1 == settings.minionSlotsNext.length || settings.minionSlotsNext[nextIndex] > minionsCost.length
                span Remaining minions: #{settings.minionSlotsCostText[nextIndex]} coins
            else if slotNumber == 1 || slotNumber == 21
                span #{slotNumber}st slot: #{settings.minionSlotsCostText[nextIndex]} coins
            else if slotNumber == 2 || slotNumber == 22
                span #{slotNumber}nd slot: #{settings.minionSlotsCostText[nextIndex]} coins
            else if slotNumber == 3 || slotNumber == 23
                span #{slotNumber}rd slot: #{settings.minionSlotsCostText[nextIndex]} coins
            else
                span #{slotNumber}th slot: #{settings.minionSlotsCostText[nextIndex]} coins

mixin minionCostRow(minionCost,i,nextIndex,isShown)
    tr(id="minion"+i+"Row" class="collapseNext"+nextIndex class=isShown?undefined:"d-none").collapseNext
        td.text-center
            | ##{i+1}
            br
            img(src="/images/minions/"+minionCost.name+".png" width="30" height="30")
        td(id="minion"+i+"Name")=minionCost.name
        td(id="minion"+i+"Tier")=minionCost.tier
        td(id="minion"+i+"TotalCostFront").text-right=minionCost.totalCostText
        td(id="minion"+i+"Items" class=(minionCost.warning?"live":"") class=(minionCost.danger?"loss":""))
            if minionCost.upgradeMaterials
                each material in minionCost.upgradeMaterials
                    | #{material}
                    br
        td(id="minion"+i+"NumberOfItems")
            if minionCost.upgradeQuantities
                each quantity in minionCost.upgradeQuantities
                    | #{quantity}
                    br
        td(id="minion"+i+"BazaarPrices")
            if minionCost.unitPrices
                each unitPrice in minionCost.unitPrices
                    | #{unitPrice}
                    br
        td(id="minion"+i+"TotalCost").text-right=minionCost.totalCostTextDetail