extends ../layouts/default

block append js
    script(src="/js/jquery/jquery.doubleScroll.js")
    script(src="/js/minionsCost.js")
    	
block append variables
    - var currentPage = "minionsCost";

block meta
    meta(name="description" content="Know your most profitable minions! Tailor made for each profile, fully accurate.")

mixin infoBox(id,type,title)
    if(type=="info")
        i.fas.fa-lg(data-toggle="modal" data-target="#"+id class="fa-info-circle")
    else if(type=="question")
        i.fas.fa-lg(data-toggle="modal" data-target="#"+id class="fa-question-circle")
    .modal.fade.infoBox(id=id tabindex="-1" role="dialog" aria-labelledby=id+"Label" aria-hidden="true")
        .modal-dialog(role="document" class=(type=="rightInfo"?"modal-xl":undefined))
            .modal-content
                .modal-header
                    h3.modal-title(id=id+"Label")=title
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    if block 
                        block 
                    else
                        p Nothing to see here
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close

block content
    .container
        h1.d-inline-block Minions (Crafts)
        span &nbsp; &nbsp;
        img.d-inline-block.align-top(src="/images/minionsCost.png" width="40" height="40")
        p.d-inline-block &nbsp; &nbsp; &nbsp;
        +infoBox("minionsTitleModal","info","Minions Crafts Calculator")
            p It calculates the cheapest minions to level up to gain more minion slots, also tailor-made for each profile if you input your Minecraft name. It also shows you how much money you need to spend on materials to unlock a new minion tier.
        p What are the cheapest minions to level up to gain more minion slots?
        //-TEMP
        h3 Warning
        p This feature is in beta, bugs may occur.
        #overall
            .row
                #general.col-lg-6.col-12
                    br
                    h3 General
                    .form-group
                        p Minecraft Name (optional): &nbsp; 
                            input#overallProfileName.form-control(value=settings.name)
                            span &nbsp; &nbsp; 
                            +infoBox("profileModal","question","Why is my Minecraft name required?")
                                p If you enter your Minecraft name, it will calculate the cheapest minion ignoring the minion you have crafted. It could make the crafts list more personalized and useful.
                                p Alternatively, you could leave the Minecraft name box, and it would show the whole crafts list.
                        if(settings.profileNames)
                            label(for="overallProfileProfile") Profile: &nbsp;
                            select#overallProfileProfile.form-control
                                -let k=0
                                while k<settings.profileNames.length
                                    option(value=k selected=(settings.profile==k?'selected':undefined))=settings.profileNames[k]
                                    -k++;
                .col-lg-6.col-12  
                    #advanced
                        br
                        h3 Advanced
                        .form-group
                            label(for="overallBuyingMethod") Buying method in bazaar: &nbsp;
                            select#overallBuyingMethod.form-control
                                option(value="1" selected=(settings.buyingMethod==1?'selected':undefined)) Buy order
                                option(value="0" selected=(settings.buyingMethod==0?'selected':undefined)) Buy instantly
                                
                        .form-group
                            label(for="overallTax") Tax in bazaar: &nbsp; 
                                input#overallTax.form-control(type="number" value=settings.tax min="0")
                                span &nbsp; %

                        //- .form-group
                        //-     input#overallShowDetails.checkbox(type="checkbox" checked=(settings.showDetails>=1 ? 'checked' : undefined))
                        //-     label(for="overallShowDetails") &nbsp; Load All &nbsp;
            
            br
            button#overallSettings.btn(onclick="generateLink()") Apply
            br
            br

        #content
            hr
            //- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            //- //- <!-- minions1 -->
            //- <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3541192882647315" data-ad-slot="6074503232" data-ad-format="auto" data-full-width-responsive="true"></ins>
            //- <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
            br
            if settings&&settings.hasError
                h1 Error
                p.lead=settings.errorMsg
                h3 Is Hypixel API down?
                p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
                p If you think it is not an API problem, you may make a bug report <a href="/contact">here</a>. Sorry for the inconvenience caused.
            else if !minionsCost || !settings
                h1 Error
                p.lead An unexpected error has occured.
                h3 Is Hypixel API down?
                p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
                p If you think it is not an API problem, you may make a bug report <a href="/contact">here</a>. Sorry for the inconvenience caused.
            else
                if settings.useProfile
                    h3 Profile Information
                    p Minion Crafts: #{settings.minionCrafts}
                    p Minion Slots: #{settings.minionSlots} + #{settings.communitySlots} (Community Center)
                    p Crafts to next: #{settings.minionSlotsNext[0]}
                    p Coins to next: #{settings.minionSlotsCostText[0]}
                #search: .form-group.row
                    //-.col-12.col-md-8.col-lg-6
                        label(for="searchInput") Search: &nbsp;
                        input#searchInput(list="searchDatalist").form-control
                        datalist#searchDatalist
                            each minionCost in minionsCost
                                option(value=minionCost.name.substring(0,minionCost.name.lastIndexOf(" "))+" "+minionCost.tier)
                        span &nbsp; &nbsp; &nbsp;
                        button#searchButton.btn(onclick="search()") Search
                    //-.col-12.col-md-3.col-lg-6
                    .col-12
                        if settings.showDetails == 1
                            button#showAll.btn.btn-link.read-more(onclick="showAll()") Expand All
                            button#hideAll.btn.btn-link.read-more.d-none(onclick="hideAll()") Hide All
                        else
                            button.btn.btn-link#showAll.read-more(onclick="appendShowDetails(-1)") Load and Expand All
                #doubleScroll: table#minionsCostTable.table.table-dark.w-100
                    thead
                        tr
                            th(scope="col")
                            th(scope="col") Minion
                            th(scope="col") Tier
                            th(scope="col") Total Upgrade Cost
                            th(scope="col") Upgrade materials
                            th(scope="col") Quantity
                            th(scope="col") Unit Price (Bazaar)
                            th(scope="col") Total Upgrade Cost 

                    if (settings.showDetails==1)
                        //-show top 50, until next minion slot, hide others
                        -let nextIndex = 0;
                        -let i=0;
                        while i<Math.min(50,minionsCost.length)
                            +slotRow(nextIndex,true,true)
                            while i<settings.minionSlotsNext[nextIndex]&&i<minionsCost.length
                                +minionCostRow(minionsCost[i],i,nextIndex,true)
                                -i++;
                            -nextIndex++;
                        while nextIndex<settings.minionSlotsNext.length
                            +slotRow(nextIndex,false,true)
                            while i<settings.minionSlotsNext[nextIndex]&&i<minionsCost.length
                                +minionCostRow(minionsCost[i],i,nextIndex,false)
                                -i++;
                            -nextIndex++;
                    else
                        //-show top 50, until next minion slot, dont load others
                        -let nextIndex = 0;
                        -let i=0;
                        while i<Math.min(50,minionsCost.length)
                            +slotRow(nextIndex,true,true)
                            while i<settings.minionSlotsNext[nextIndex]&&i<minionsCost.length
                                +minionCostRow(minionsCost[i],i,nextIndex,true)
                                -i++;
                            -nextIndex++;
                        while nextIndex<settings.minionSlotsNext.length
                            +slotRow(nextIndex,false,false)
                            -nextIndex++;

            p: small
                | Excluding Flower Minion 
                if(settings.lastUpdatedBazaar)
                    | <br /> Last updated time of bazaar price: #{settings.lastUpdatedBazaar} UTC
                if(settings.lastUpdatedProfile)
                    | <br /> Last updated time of profile: #{settings.lastUpdatedProfile} UTC

mixin slotRow(nextIndex,isShown,isLoaded)
    tr(id="slot"+nextIndex+"Row" class="color-row-"+nextIndex%7)
        td.text-center.py-3
            if isLoaded == true 
                if isShown == true
                    i.fas.fa-lg.fa-plus-circle.showNextButton(id="showNextButton"+nextIndex onclick="showCollapseNext("+nextIndex+")").d-none
                    i.fas.fa-lg.fa-minus-circle.hideNextButton(id="hideNextButton"+nextIndex onclick="hideCollapseNext("+nextIndex+")")
                else
                    i.fas.fa-lg.fa-plus-circle.showNextButton(id="showNextButton"+nextIndex onclick="showCollapseNext("+nextIndex+")")
                    i.fas.fa-lg.fa-minus-circle.hideNextButton(id="hideNextButton"+nextIndex onclick="hideCollapseNext("+nextIndex+")").d-none
            else
                i.fas.fa-lg.fa-cloud-download-alt(id="showNextButton"+nextIndex onclick="appendShowDetails("+nextIndex+")")
        td(colspan="100%").py-3
            if nextIndex+1 == settings.minionSlotsNext.length
                span Remaining minions: #{settings.minionSlotsCostText[nextIndex]} coins
            else if settings.minionSlots+nextIndex == 1 || settings.minionSlots+nextIndex == 21
                span #{settings.minionSlots+nextIndex}st slot: #{settings.minionSlotsCostText[nextIndex]} coins
            else if settings.minionSlots+nextIndex == 2 || settings.minionSlots+nextIndex == 22
                span #{settings.minionSlots+nextIndex}nd slot: #{settings.minionSlotsCostText[nextIndex]} coins
            else if settings.minionSlots+nextIndex == 3 || settings.minionSlots+nextIndex == 23
                span #{settings.minionSlots+nextIndex}rd slot: #{settings.minionSlotsCostText[nextIndex]} coins
            else
                span #{settings.minionSlots+nextIndex}th slot: #{settings.minionSlotsCostText[nextIndex]} coins

mixin minionCostRow(minionCost,i,nextIndex,isShown)
    tr(id="minion"+i+"Row" class="collapseNext"+nextIndex class=isShown?undefined:"d-none").collapseNext
        td.text-center
            | ##{i+1}
            br
            img(src="/images/minions/"+minionCost.name+".png" width="30" height="30")
        td(id="minion"+i+"Name")=minionCost.name
        td(id="minion"+i+"Tier")=minionCost.tier
        td(id="minion"+i+"TotalCostFront")=minionCost.totalCostText
        td(id="minion"+i+"Items")
            if minionCost.upgradeMaterials
                each material in minionCost.upgradeMaterials
                    | #{material}
                    br
        td(id="minion"+i+"NumberOfItems")
            if minionCost.upgradeQuantities
                each quantity in minionCost.upgradeQuantities
                    | #{quantity}
                    br
        td(id="minion"+i+"BazaarPrices")
            if minionCost.unitPrices
                each unitPrice in minionCost.unitPrices
                    | #{unitPrice}
                    br
        td(id="minion"+i+"TotalCost")=minionCost.totalCostText