extends ../layouts/default

block append js
    script(src="/js/jquery/jquery.doubleScroll.js")
    script(src="/js/minionsCost.js")
    	
block append variables
    - var currentPage = "minionsCost";

block meta
    meta(name="description" content="It calculates the cheapest minions to level up to gain more minion slots, also tailor-made for each profile if you input your Minecraft name.")

block content
    .container
        h1.d-inline-block Minions (Crafts)
        span &nbsp; &nbsp;
        img.d-inline-block.align-top(src="/images/minionsCost.png" width="40" height="40")
        p.d-inline-block &nbsp; &nbsp; &nbsp;
        +infoBox("minionsTitleModal","info","Minions Crafts Calculator")
            p It calculates the cheapest minions to level up to gain more minion slots, also tailor-made for each profile if you input your Minecraft name. It also shows you how much money you need to spend on materials to unlock a new minion tier.
            p: a(href="/info/minionscost" target="_blank") Check out more documentation
        p What are the cheapest minions to level up to gain more minion slots?
        #overall
            .row
                #general.col-lg-6.col-12
                    br
                    h3 General
                    .form-group
                        .form-group
                            input#overallUseProfile.checkbox(type="checkbox" onclick="toggleUseProfile()" checked=(settings.useProfile==true ? 'checked' : undefined))
                            label(for="overallUseProfile") &nbsp; Use Profile
                    .form-group#profileName
                        p Minecraft Name (Recommended): &nbsp; 
                            input#overallProfileName.form-control(value=settings.name oninput="setUseProfile()")
                            span &nbsp; &nbsp; 
                            +infoBox("profileModal","question","Why is my Minecraft name required?")
                                p If you enter your Minecraft name, it will calculate the cheapest minion ignoring the minion you have crafted. It could make the crafts list more personalized and useful. (Note that API settings has to be changed in game in order to obtain for the calculator to obtain collections information.)
                                p Alternatively, you could uncheck this "Use Profile" box, and it would show the whole crafts list.
                                p: a(href="/info/minionscost#minecraftName" target="_blank") Check out more documentation
                        if(settings.profileNames)
                            label#overallProfileProfileLabel(for="overallProfileProfile") Profile: &nbsp;
                            select#overallProfileProfile.form-control
                                -let k=0
                                while k<settings.profileNames.length
                                    option(value=k selected=(settings.profile==k?'selected':undefined))=settings.profileNames[k]
                                    -k++;
                #advanced.col-lg-6.col-12
                    br
                    h3 Advanced
                    .form-group
                        input#overallGroupCheck.checkbox(type="checkbox" checked=(settings.group!=0 ? 'checked' : undefined))
                        label &nbsp; Sort by minion name every &nbsp; 
                        input#overallGroupValue.form-control(type="number" value=(settings.group == 0 ? 1 : settings.group) min="1")
                        span &nbsp; slot(s) &nbsp;
                        a(href="/info/minionscost#group" target="_blank"): i.pt-2.fas.fa-question-circle
                    .form-group
                        label(for="overallBuyingMethod") Buying method in bazaar: &nbsp; 
                        select#overallBuyingMethod.form-control
                            option(value="1" selected=(settings.buyingMethod==1?'selected':undefined)) Buy order
                            option(value="0" selected=(settings.buyingMethod==0?'selected':undefined)) Buy instantly
                        span &nbsp; &nbsp;
                        a(href="/info/minionscost#buyingMethodInBazaar" target="_blank"): i.pt-2.fas.fa-question-circle    
                    .form-group
                        label(for="overallTax") Tax in bazaar: &nbsp; 
                            input#overallTax.form-control(type="number" value=settings.tax min="0")
                            span &nbsp; % &nbsp;
                        a(href="/info/minionscost#tax" target="_blank"): i.pt-2.fas.fa-question-circle
            #filter
                br
                h3 Excludes
                br
                .row
                    .col-lg-6.col-12
                        #slayerCollectionsUseProfile(class=(settings.useProfile==true ? undefined : "d-none"))
                            .form-group
                                input#overallFilterSlayers.checkbox(type="checkbox" checked=(settings.filterSlayers==1 ? 'checked' : undefined))
                                label(for="overallFilterSlayers") &nbsp; Exclude locked slayer minions &nbsp; 
                                a(href="/info/minionscost#filterSlayers" target="_blank"): i.pt-2.fas.fa-question-circle
                            .form-group
                                input#overallFilterCollections.checkbox(type="checkbox" checked=(settings.filterCollections==1 ? 'checked' : undefined))
                                label(for="overallFilterCollections") &nbsp; Exclude locked minions (collections) &nbsp; 
                                a(href="/info/minionscost#filterCollections" target="_blank"): i.pt-2.fas.fa-question-circle
                        #slayerCollectionsNoProfile(class=(settings.useProfile==true ? 'd-none' : undefined))
                            .form-group
                                input#overallBottomSlayers.checkbox(type="checkbox" checked=(settings.bottomSlayers==1 ? 'checked' : undefined))
                                label(for="overallBottomSlayers") &nbsp; Exclude slayer minions &nbsp; 
                                a(href="/info/minionscost#bottomSlayers" target="_blank"): i.pt-2.fas.fa-question-circle
                    .col-lg-6.col-12
                        .form-group
                            label(for="overallDisplayMethod") Excluded crafts should be &nbsp;
                            select#overallDisplayMethod.form-control
                                option(value="1" selected=(settings.displayMethod==1?'selected':undefined)) put at the end of list
                                option(value="0" selected=(settings.displayMethod==0?'selected':undefined)) removed
                            span &nbsp; &nbsp; 
                            a(href="/info/minionscost#excludedCrafts" target="_blank"): i.pt-2.fas.fa-question-circle
                        .form-group
                            input#overallShowSlots.checkbox(type="checkbox" checked=(settings.showSlots==1 ? 'checked' : undefined))
                            label(for="overallShowSlots") &nbsp; Show slot information &nbsp; 
                            a(href="/info/minionscost#showSlots" target="_blank"): i.pt-2.fas.fa-question-circle
                br
                h3.d-inline-block Filters
                p.d-inline-block &nbsp; &nbsp; &nbsp;
                a(href="/info/minionscost#filters" target="_blank"): i.pt-2.fas.fa-question-circle
                br
                .row
                    //- filtered minions must be removed
                    .col-lg-6.col-12
                        .miscellaneousInline
                            h4 Minions &nbsp;
                            a.read-more(data-toggle="collapse" href="#filterMinions" aria-expanded="false" aria-controls="filterMinions")
                                span.collapsed Show more
                                span.expanded Show less
                        #filterMinions.collapse
                            input.checkbox#filterMinionsSelectAll(type="checkbox" checked=(settings.filterMinions&&settings.filterMinions.length!=0 ? undefined:"checked") onclick="toggleFilterMinionsSelectAll()")
                            label(for="filterMinionsSelectAll") &nbsp; Select All
                            hr
                            #filterMinionsBody
                                if minions
                                    for minion in minions
                                        .form-group
                                            input.checkbox(type="checkbox" value=minion.id id="filterMinions"+minion.id checked=(settings.filterMinions&&settings.filterMinions.includes(minion.id.toString()) ? undefined:"checked") onclick="setFilterMinionsSelectAll()")
                                            label(for="filterMinions"+minion.id) &nbsp; !{minion.name}
                        br
                        br
                    .col-lg-6.col-12
                        .miscellaneousInline
                            h4 Tiers &nbsp;
                            a.read-more(data-toggle="collapse" href="#filterTiers" aria-expanded="false" aria-controls="filterTiers")
                                span.collapsed Show more
                                span.expanded Show less
                        #filterTiers.collapse
                            input.checkbox#filterTiersSelectAll(type="checkbox" checked=(settings.filterTiers&&settings.filterTiers.length!=0 ? undefined:"checked") onclick="toggleFilterTiersSelectAll()")
                            label(for="filterTiersSelectAll") &nbsp; Select All
                            hr
                            #filterTiersBody
                                - let i = 0
                                while i<12
                                    .form-group
                                        input.checkbox(type="checkbox" value=(i+1) id="filterTiers"+i checked=(settings.filterTiers&&settings.filterTiers.includes((i+1).toString()) ? undefined:"checked")  onclick="setFilterTiersSelectAll()")
                                        label(for="filterTiers"+i) &nbsp; Tier !{i+1}
                                    -i++;
                        br
                        br
            br
            button#overallSettings.btn(onclick="generateLink()") Apply
            span &nbsp; &nbsp; &nbsp;
            button.btn.btn-link.read-more(onclick="clearInput()") Clear
            br
            br

        #content
            hr
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3541192882647315" crossorigin="anonymous"></script>
            //- <!-- minionsCost1 -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3541192882647315" data-ad-slot="7408794849" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
            
            //- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3541192882647315" crossorigin="anonymous"></script>
            //- //- minionsCost-beta1
            //- <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3541192882647315" data-ad-slot="6124486969" data-ad-format="auto" data-full-width-responsive="true"></ins>
            //- <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
            
            br
            if settings&&settings.hasError
                h1 Error
                p.lead=settings.errorMsg
                h3 Is Hypixel API down?
                p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
                p If you think it is not an API problem, you may make a bug report <a href="/contact">here</a>. Sorry for the inconvenience caused.
            else if !minionsCost || !settings
                h1 Error
                p.lead An unexpected error has occured.
                h3 Is Hypixel API down?
                p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
                p If you think it is not an API problem, you may make a bug report <a href="/contact">here</a>. Sorry for the inconvenience caused.
            else
                if settings.useProfile
                    h3 Profile Information
                    p Minion Crafts: #{settings.minionCrafts}
                    p Minion Slots: #{settings.minionSlots} + #{settings.communitySlots} (Community Center)
                    p Crafts to next: #{settings.minionSlotsNext.length!=1? settings.minionSlotsNext[0]: "MAXED"}
                    p Coins to next: #{minionsCost[0].costText}
                    if settings.collectionsDisabled && settings.filterCollections==1
                        p.loss Collection API access for this profile is disabled. Click <a href="https://www.youtube.com/watch?v=-_LIyA5lNMU">here</a> to see how to enable API access, so that we could put the minions that you cannot craft at the bottom of the list.
                #search: .form-group.row
                    .col-12.col-md-8.col-lg-6
                        label(for="searchInput") Search: &nbsp;
                        input#searchInput(list="searchDatalist").form-control
                        datalist#searchDatalist
                            - let i=0,j=0;
                            while i<minionsCost.length
                                while j<minionsCost[i].minions.length
                                    option(value=minionsCost[i].minions[j].name.substring(0,minionsCost[i].minions[j].name.lastIndexOf(" "))+" "+minionsCost[i].minions[j].tier)
                                    -j++;
                                -j=0;
                                -i++;
                        span &nbsp; &nbsp; &nbsp;
                        button#searchButton.btn(onclick="search()") Search
                    .col-12.col-md-3.col-lg-6
                        if settings.showSlots==1
                            if settings.showDetails == 1
                                button#showAll.btn.btn-link.read-more(onclick="showAll()") Expand All
                                button#hideAll.btn.btn-link.read-more.d-none(onclick="hideAll()") Hide All
                            else
                                button.btn.btn-link#showAll.read-more(onclick="appendShowDetails(-1)") Load and Expand All
                #doubleScroll: table#minionsCostTable.table.table-dark.w-100
                    thead
                        tr
                            th(scope="col").minionRankHeader
                            th(scope="col").minionNameHeader.minionCol
                                | Minion  <br />
                                if settings.group != 0
                                    | (sorted by name within slot)  <br />
                                a(href="/info/minionscost#minionCol" target="_blank"): i.pt-2.fas.fa-question-circle
                                | &nbsp; &nbsp;
                                button#unhideAllCols.btn.btn-link(onClick="unhideCol()").invisible Unhide all columns
                            th(scope="col").tierCol
                                | Tier <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('tierCol')").invisible
                                //- a(href="/info/minionscost#tierCol" target="_blank"): i.pt-2.fas.fa-question-circle
                            th(scope="col").totalCostFrontCol
                                | Upgrade Cost <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('totalCostFrontCol')")
                                //- | &nbsp;
                                //- a(href="/info/minions#tierCol" target="_blank"): i.pt-2.fas.fa-question-circle
                            th(scope="col").upgradeMaterialsHeader.upgradeMaterialsCol
                                | Upgrade Materials <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('upgradeMaterialsCol')")
                                //- | &nbsp;
                                //- a(href="/info/minions#tierCol" target="_blank"): i.pt-2.fas.fa-question-circle
                            th(scope="col").quantityCol
                                | Quantity <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('quantityCol')")
                                //- | &nbsp;
                                //- a(href="/info/minions#tierCol" target="_blank"): i.pt-2.fas.fa-question-circle
                            th(scope="col").unitPriceCol
                                | Unit Price (Bazaar) <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('unitPriceCol')")
                                //- | &nbsp;
                                //- a(href="/info/minions#tierCol" target="_blank"): i.pt-2.fas.fa-question-circle Unit Price (Bazaar)
                            th(scope="col").upgradeCostHeader.totalCostCol
                                | Upgrade Cost <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('totalCostCol')")
                                //- | &nbsp;
                                //- a(href="/info/minions#tierCol" target="_blank"): i.pt-2.fas.fa-question-circle Unit Price (Bazaar)

                    if (settings.showDetails==1)
                        //-show top 50, until next minion slot, hide others
                        -let i=0, j=0, ij = 0;
                        while i < minionsCost.length && ij < 50
                            if settings.showSlots==1
                                +slotRow(i,minionsCost[i].context,minionsCost[i].costText,minionsCost[i].isRemaining,true,true)
                            while j<minionsCost[i].minions.length
                                +minionCostRow(minionsCost[i].minions[j],ij,i,true)
                                -j++;
                                -ij++;
                            -j=0;
                            -i++;
                        while i < minionsCost.length
                            if settings.showSlots==1
                                +slotRow(i,minionsCost[i].context,minionsCost[i].costText,minionsCost[i].isRemaining,false,true)
                            while j<minionsCost[i].minions.length
                                +minionCostRow(minionsCost[i].minions[j],ij,i,false)
                                -j++;
                                -ij++;
                            -j=0;
                            -i++;
                    else
                        //-show top 50, until next minion slot, dont load others
                        -let i=0, j=0, ij = 0;
                        while i < minionsCost.length && ij < 50
                            if settings.showSlots==1
                                +slotRow(i,minionsCost[i].context,minionsCost[i].costText,minionsCost[i].isRemaining,true,true)
                            while j<minionsCost[i].minions.length
                                +minionCostRow(minionsCost[i].minions[j],ij,i,true)
                                -j++;
                                -ij++;
                            -j=0;
                            -i++;
                        while i < minionsCost.length
                            if settings.showSlots==1
                                +slotRow(i,minionsCost[i].context,minionsCost[i].costText,minionsCost[i].isRemaining,false,false)
                            -i++;

            if settings.showSlots==0
                if settings.showDetails == 0
                    button.btn.btn-link#showAllBottom.read-more(onclick="appendShowDetails(null,50)") Load and Expand All
                    br
                else
                    button.btn.btn-link#showAllBottom.read-more(onclick="showAll()") Expand All
                    br
            p: small
                if(settings.lastUpdatedBazaar)
                    | Last updated time of bazaar price: #{settings.lastUpdatedBazaar} UTC
                if(settings.lastUpdatedProfile)
                    | <br /> Last updated time of profile: #{settings.lastUpdatedProfile} UTC

mixin slotRow(nextIndex,context,cost,isRemaining,isShown,isLoaded)
    tr(id="slot"+nextIndex+"Row" class="color-row-"+nextIndex%7)
        td.text-center.py-3
            if isLoaded == true 
                if isShown == true
                    i.fas.fa-lg.fa-plus-circle.showNextButton(id="showNextButton"+nextIndex onclick="showCollapseNext("+nextIndex+")").d-none
                    i.fas.fa-lg.fa-minus-circle.hideNextButton(id="hideNextButton"+nextIndex onclick="hideCollapseNext("+nextIndex+")")
                else
                    i.fas.fa-lg.fa-plus-circle.showNextButton(id="showNextButton"+nextIndex onclick="showCollapseNext("+nextIndex+")")
                    i.fas.fa-lg.fa-minus-circle.hideNextButton(id="hideNextButton"+nextIndex onclick="hideCollapseNext("+nextIndex+")").d-none
            else
                i.fas.fa-lg.fa-cloud-download-alt(id="showNextButton"+nextIndex onclick="appendShowDetails("+nextIndex+")")
        td(colspan="100%").py-3
            span
                if isRemaining
                    | Remaining minions
                else
                    - let i = 0
                    for slotNumber in context
                        if i != 0
                            | ,&nbsp;
                        if slotNumber == 1 || slotNumber == 21
                            | #{slotNumber}st
                        else if slotNumber == 2 || slotNumber == 22
                            | #{slotNumber}nd
                        else if slotNumber == 3 || slotNumber == 23
                            | #{slotNumber}rd
                        else
                            | #{slotNumber}th
                        -i++;
                    if i == 1 
                        | &nbsp;slot
                    else
                        | &nbsp;slots
                | : #{cost} coins

mixin minionCostRow(minionCost,i,nextIndex,isShown)
    tr(id="minion"+i+"Row" class="collapseNext"+nextIndex class=isShown?undefined:"d-none").collapseNext
        td.text-center
            | ##{i+1}
            br
            img(src="/images/minions/"+minionCost.name+".png" width="30" height="30")
        td(id="minion"+i+"Name").minionCol=minionCost.name
        td(id="minion"+i+"Tier").tierCol=minionCost.tier
        td(id="minion"+i+"TotalCostFront").totalCostFrontCol.text-right=minionCost.totalCostText
        td(id="minion"+i+"Items" class=(minionCost.warning?"live":"") class=(minionCost.danger?"loss":"")).upgradeMaterialsCol
            if minionCost.upgradeMaterials
                each material in minionCost.upgradeMaterials
                    | #{material}
                    br
        td(id="minion"+i+"NumberOfItems").quantityCol
            if minionCost.upgradeQuantities
                each quantity in minionCost.upgradeQuantities
                    | #{quantity}
                    br
        td(id="minion"+i+"BazaarPrices").unitPriceCol
            if minionCost.unitPrices
                each unitPrice in minionCost.unitPrices
                    | #{unitPrice}
                    br
        td(id="minion"+i+"TotalCost").totalCostCol.text-right=minionCost.totalCostTextDetail