extends ../layouts/default

block append js
    script(src="/js/jquery/jquery.doubleScroll.js")
    script(src="/js/general.js")
    script(src="/js/newForge.js")
    	
block append variables
    - var currentPage = "forge";

block meta
    meta(name="description" content="It calculates the cheapest minions to level up to gain more minion slots, also tailor-made for each profile if you input your Minecraft name.")

mixin infoBox(id,type,title)
    if(type=="info")
        i.fas.fa-lg(data-toggle="modal" data-target="#"+id class="fa-info-circle")
    else if(type=="question")
        i.fas.fa-lg(data-toggle="modal" data-target="#"+id class="fa-question-circle")
    .modal.fade.infoBox(id=id tabindex="-1" role="dialog" aria-labelledby=id+"Label" aria-hidden="true")
        .modal-dialog(role="document" class=(type=="rightInfo"?"modal-xl":undefined))
            .modal-content
                .modal-header
                    h3.modal-title(id=id+"Label")=title
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    if block 
                        block 
                    else
                        p Nothing to see here
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close

block content
    .container
        h1.d-inline-block Forge
        span &nbsp; &nbsp;
        img.d-inline-block.align-top(src="/images/minionsCost.png" width="40" height="40")
        //-TODO
        p.d-inline-block &nbsp; &nbsp; &nbsp;
        +infoBox("minionsTitleModal","info","Minions Crafts Calculator")
            p It calculates the cheapest minions to level up to gain more minion slots, also tailor-made for each profile if you input your Minecraft name. It also shows you how much money you need to spend on materials to unlock a new minion tier.
        p Most profitable forge options when you are offline.
        h3 To be continued
        ul
            li.live IMPORTANT NOTE: The calculator is now underestimating the cost when buying large quantites of identitcal items from the Auction House. Time is needed to think of a thorough way to tackle this problem. Bare this in mind when making purchase using the calculator.
            li Data input (<a href="/contact">Contact me</a> when you see a mistake)
            li Customizable settings (e.g. HOTM level, sort by profit per forge/hour)
            li Improvements for loading time (or at least make the loading responsive)
            li Warning: This page is in beta, bugs may occur.

        #overall
            .row
                #general.col-lg-6.col-12
                    br
                    h3 General
                    .form-group
                        .form-group
                            input#overallUseProfile.checkbox(type="checkbox" onclick="toggleUseProfile()" checked=(settings.useProfile==true ? 'checked' : undefined))
                            label(for="overallUseProfile") &nbsp; Use Profile
                    .form-group#profileName
                        p Minecraft Name (Recommended): &nbsp; 
                            input#overallProfileName.form-control(value=settings.name oninput="setUseProfile()")
                            span &nbsp; &nbsp; 
                            +infoBox("profileModal","question","Why is my Minecraft name required?")
                                p If you enter your Minecraft name, it will calculate the cheapest minion ignoring the minion you have crafted. It could make the crafts list more personalized and useful.
                                p Alternatively, you could uncheck this "Use Profile" box, and it would show the whole crafts list.
                        if(settings.profileNames)
                            label#overallProfileProfileLabel(for="overallProfileProfile") Profile: &nbsp;
                            select#overallProfileProfile.form-control
                                -let k=0
                                while k<settings.profileNames.length
                                    option(value=k selected=(settings.profile==k?'selected':undefined))=settings.profileNames[k]
                                    -k++;
                    .form-group.profileAlt
                        span HOTM Level: &nbsp;
                        select#overallHotmLevel.form-control(onchange="setNotProfile()")
                            -let j=0
                            while j<=7
                                option(selected=(settings.hotmLevel==j ? 'selected':undefined))=j
                                -j++;
                            //- 7: default
                            //- option(selected=(!settings.hotmLevel||settings.hotmLevel==7 ? 'selected':undefined) value="7") 7
                    .form-group.profileAlt
                        span Gemstone Collection Level: &nbsp;
                        select#overallGemstoneCollectionLevel.form-control(onchange="setNotProfile()")
                            -let l=0
                            while l<=11
                                option(selected=(settings.gemstoneCollectionLevel==l ? 'selected':undefined))=l
                                -l++;
                            //- 11: default
                            //- option(selected=(!settings.gemstoneCollectionLevel||settings.gemstoneCollectionLevel==10 ? 'selected':undefined) value="10") 10
                #advanced.col-lg-6.col-12
                    br
                    h3 Advanced
                    //- .form-group
                    //-     label(for="overallAccuracy") Accuracy: &nbsp;
                    //-     select#overallAccuracy.form-control
                    //-         option(value="0" selected=(settings.accuracy==0?'selected':undefined)) No API
                    //-         option(value="1" selected=(settings.accuracy==1?'selected':undefined)) Medium
                    //-         option(value="2" selected=(settings.accuracy==2?'selected':undefined)) High
                    //-         option(value="3" selected=(settings.accuracy==3?'selected':undefined)) Very High                             
                    .form-group
                        label(for="overallTax") Tax in bazaar: &nbsp; 
                            input#overallTax.form-control(type="number" value=settings.tax min="0")
                            span &nbsp; %
                    p: small Tax in auction house is 1% when selling items above 1M coins. The AH prices below are the current lowest BIN. The bazaar prices are based on buy instantly and sell instantly.
                    br
            
            button#overallSettings.btn(onclick="generateLink()") Apply
        //-     span &nbsp; &nbsp; &nbsp;
        //-     button.btn.btn-link.read-more(onclick="clearInput()") Clear
        //-     br
        //-     br

        #content
            hr
            //- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3541192882647315" crossorigin="anonymous"></script>
            //- //- <!-- forge-1 -->
            //- <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3541192882647315" data-ad-slot="9361469877" data-ad-format="auto" data-full-width-responsive="true"></ins>
            //- <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
            if settings.useProfile
                if settings.collectionsDisabled
                    p.loss Collection API access for this profile is disabled. Click <a href="https://www.youtube.com/watch?v=-_LIyA5lNMU">here</a> to see how to enable API access, so that we could put the minions that you cannot craft at the bottom of the list.
            br
            if settings&&settings.run==0
                p Click Apply to calculate. Please note that the loading time will be significantly longer than the other calculators, as it needs to make around 60 API calls to get all the auction data.
            else if settings&&settings.hasError
                h1 Error
                p.lead=settings.errorMsg
                h3 Is Hypixel API down?
                p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
                p If you think it is not an API problem, you may make a bug report <a href="/contact">here</a>. Sorry for the inconvenience caused.
            else if !forges || !settings
                h1 Error
                p.lead An unexpected error has occured.
                h3 Is Hypixel API down?
                p You could check to see if <a href="https://api.hypixel.net/skyblock/bazaar">this link</a> brings you to the raw bazaar data to see if Hypixel API is down.
                p If you think it is not an API problem, you may make a bug report <a href="/contact">here</a>. Sorry for the inconvenience caused.
            else
                //-     #search: .form-group.row
                //-         .col-12.col-md-8.col-lg-6
                //-             label(for="searchInput") Search: &nbsp;
                //-             input#searchInput(list="searchDatalist").form-control
                //-             datalist#searchDatalist
                //-                 -let nextIndexSearch = 0;
                //-                 -let j=0;
                //-                 while nextIndexSearch<settings.minionSlotsNext.length && j<minionsCost.length
                //-                     while j<settings.minionSlotsNext[nextIndexSearch]&&j<minionsCost.length
                //-                         option(value=minionsCost[j].name.substring(0,minionsCost[j].name.lastIndexOf(" "))+" "+minionsCost[j].tier)
                //-                         -j++;
                //-                     -nextIndexSearch++;
                //-             span &nbsp; &nbsp; &nbsp;
                //-             button#searchButton.btn(onclick="search()") Search
                //-         .col-12.col-md-3.col-lg-6
                //-             if settings.showSlots==1
                //-                 if settings.showDetails == 1
                //-                     button#showAll.btn.btn-link.read-more(onclick="showAll()") Expand All
                //-                     button#hideAll.btn.btn-link.read-more.d-none(onclick="hideAll()") Hide All
                //-                 else
                //-                     button.btn.btn-link#showAll.read-more(onclick="appendShowDetails(-1)") Load and Expand All
                #doubleScroll: table#forgeTable.table.table-dark.w-100
                    thead
                        tr
                            th(scope="col")
                            th(scope="col") 
                                | Product <br /> 
                                | (Profit per forge) <br /> 
                                button#unhideAllCols.btn.btn-link(onClick="unhideCol()").invisible Unhide all columns
                            th(scope="col").forgeHotm 
                                | Req. HOTM <br /> 
                                | Level <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeHotm')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").forgeDuration
                                | Duration <br /> 
                                | (Hours) <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeDuration')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").forgeProductPrice
                                | Price of product  <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeProductPrice')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").forgeMaterialsName
                                | Materials <br /> 
                                | (Cheapest variant) <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeMaterialsName')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").forgeUnitCost
                                | Unit cost of material(s) <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeUnitCost')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").forgeComponentCost
                                | Total cost of material(s) <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeComponentCost')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").forgeCost 
                                | Total cost <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeCost')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").forgeNetProfit 
                                | Profit per forge <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeNetProfit')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                            th(scope="col").forgeProfitPerHour 
                                | Profit per hour <br />
                                i.pt-2.fas.fa-minus-circle(onclick="hideCol('forgeProfitPerHour')")
                                //- | &nbsp;
                                //- i.pt-2.fas.fa-question-circle(href="/forge/info")
                    - let i = 0
                    for outputForge in outputForges 
                        tr(id="forge"+i+"Row" class=(outputForge.danger?"loss":""))
                            td="#"+(i+1)
                            td(id="forge"+i+"Name")
                                //- loss -> yellow label
                                | #{outputForge.name}
                                br
                                span(class=(outputForge.profit<0?"warning":"")) (#{outputForge.profitText})
                            td(id="forge"+i+"Hotm" class=(outputForge.requirementNotMet==true?"warning":"")).forgeHotm
                                //- when requirement not met
                                | #{outputForge.hotmRequirement}
                                if outputForge.gemstoneRequirement
                                    | <br />+ Gemstone #{outputForge.gemstoneRequirement}
                                if outputForge.collectionsRequirement
                                    for requirement in outputForge.collectionsRequirement
                                        | <br />+ #{requirement.name} #{requirement.tier}
                            td(id="forge"+i+"Duration").forgeDuration=Math.round(outputForge.duration*10000)/10000
                            td(id="forge"+i+"ProductPrice").forgeProductPrice=outputForge.priceText
                            td(id="forge"+i+"MaterialsName").forgeMaterialsName
                                if outputForge.materials
                                    each material in outputForge.materials
                                        | #{material.quantity} x #{material.name}
                                        br
                            td(id="forge"+i+"UnitCost").forgeUnitCost
                                if outputForge.materials
                                    each material in outputForge.materials
                                        | #{material.priceText}
                                        br
                            td(id="forge"+i+"ComponentCost").forgeComponentCost
                                if outputForge.materials
                                    each material in outputForge.materials
                                        | #{material.componentCostText}
                                        br
                            td(id="forge"+i+"Cost").forgeCost=outputForge.totalCostText
                            
                            td(id="forge"+i+"NetProfit" class=(outputForge.profit<0?"warning":"")).forgeNetProfit=outputForge.profitText
                            td(id="forge"+i+"ProfitPerHour" class=(outputForge.profit<0?"warning":"")).forgeProfitPerHour=outputForge.profitPerHourText
                            //- loss -> yellow label
                        - i++;
            p: small
                if(settings.lastUpdatedBazaar)
                    | Last updated time of bazaar price: #{settings.lastUpdatedBazaar} UTC
                if(settings.lastUpdatedAuction)
                    | <br /> Last updated time of auction price: #{settings.lastUpdatedAuctionString} UTC
                if(settings.lastUpdatedProfile)
                    | <br /> Last updated time of profile: #{settings.lastUpdatedProfile} UTC
